[2015-09-13 01:04] RetroMarioBros opened #1 "Radio FM"

[2015-09-13 01:29] Kra1o5 commented on #1
Camera FM?

What is this?

[2015-09-14 07:24] RetroMarioBros commented on #1
Sorry , radio fm not found

[2015-09-14 07:26] RetroMarioBros commented on #1
The batery not arrive to 100%
Is in 96%

[2015-09-14 07:59] Kra1o5 commented on #1
Not found or not working correctly?

If is the second, is a know issue.

For battery is really weird I get 100% without problems.

[2015-09-14 08:22] stucki commented on #1
Hey @angelhp! Please create 1 ticket per issue. This one is about Camera FM. The status is, it works for 3 seconds only. I had in mind that @Kra1o5 already fixed this but it still seems to exist.

[2015-09-14 08:25] Kra1o5 commented on #1
Yes @stucki .

But really is Radio FM not Camera is a typo error.

We have located the error on audio HAL & we are looking one method to fix it.

[2015-09-14 08:44] stucki commented on #1
Right. Can you fix the title of this ticket?

[2015-09-14 08:48] Kra1o5 commented on #1
@stucki Fixed!

[2015-09-18 20:21] DerSaxxe commented on #1
Hello! FM-Radio doesn't crash but there is no output. Recording works. Thanks!

[2015-09-18 20:22] Kra1o5 commented on #1
Yes, we have located the problem (audio HAL).

But not fixed yet.

[2015-09-19 09:05] DocMAX opened #2 "No SIM"
No SIM. \firmware empty

[2015-09-19 09:06] Kra1o5 commented on #2
So, firmware not get mounted?

[2015-09-19 09:37] DocMAX commented on #2
Seems so. I have the 3GB/32GB version.

[2015-09-19 09:38] Kra1o5 commented on #2
You can give us logcat/dmesg?

[2015-09-19 10:07] DocMAX commented on #2
Yes, here is the Logcat. Rename to .zip

![logcat](https://cloud.githubusercontent.com/assets/5351323/9975725/04184eba-5ec7-11e5-9bf5-4b4a37956051.jpg)

[2015-09-19 10:10] Kra1o5 commented on #2
Sorry I cant see it.

[2015-09-19 10:12] DocMAX commented on #2
http://www.filedropper.com/logcat

[2015-09-19 10:13] DocMAX commented on #2
http://pastebin.com/1x3F8W4e

[2015-09-19 10:13] Kra1o5 commented on #2
Thanks, We check into it.

[2015-09-19 10:16] Kra1o5 commented on #2
No errors found, can you give us dmesg file?

[2015-09-19 10:30] DocMAX commented on #2
http://pastebin.com/X46477QS

[2015-09-19 10:35] cmorlok commented on #2
On my 3GB/32GB, /firmware is mounted correctly, but I see a lot of those messages in dmesg:

[code]

Edit: the same error appears on DocMAX's dmesg. Mine is here: http://pastebin.com/VubJTbyZ

[2015-09-19 10:37] Kra1o5 commented on #2
Yeah, MBA not boot correctly.

We can fix this, I will give you a test ASAP.

Greetings

[2015-09-19 10:41] DocMAX commented on #2
Thx a lot, i'm waiting

[2015-09-19 12:14] Kra1o5 commented on #2
@DocMAX @cmorlok ,

Here the test: https://s.basketbuild.com/dl/devs?dl=Kra1o5/bq/piccolo/Test/boot.img

Flash via TWRP or fastboot.

Greetings

[2015-09-19 12:30] DocMAX commented on #2
I get 404 error...

[2015-09-19 12:32] Kra1o5 commented on #2
I get the correct url.

[2015-09-19 12:53] DocMAX commented on #2
It really doesnt work. Tried different computers, different browsers...

https://s.basketbuild.com/uploads/devs/Kra1o5/bq/piccolo/Test+Zone/boot.img

We couldn't find what you were looking for.

[2015-09-19 12:57] Kra1o5 commented on #2
Basketbuild have some problems I will upload to other host.

[2015-09-19 13:00] Kra1o5 commented on #2
@DocMAX @cmorlok ,

https://s.basketbuild.com/dl/devs?dl=Kra1o5/bq/piccolo/Test/boot.img

[2015-09-19 13:01] stucki commented on #2
Just start here: https://s.basketbuild.com/devs/Kra1o5/bq/piccolo/
then navigate to the "Test" subfolder.

[2015-09-19 13:09] DocMAX commented on #2
Works now :-)
Checking SIM issue now

[2015-09-19 13:24] DocMAX commented on #2
Looking good now :-) SIM seems to work!

[2015-09-19 13:29] stucki commented on #2
Great! Awesome work, Alejandro!

[2015-09-19 13:35] Kra1o5 commented on #2
;) Probably I make new release today!

Please check when new build is up & comment here the result to close the issue.

Greetings

[2015-09-19 16:48] Kra1o5 commented on #2
@DocMAX @cmorlok ,

New build is out.

This should be fine now.

[2015-09-20 11:12] cmorlok commented on #2
New build works fine. Both SIM cards detected and mobile data is working

[2015-09-20 13:28] stucki opened #3 "ChangeLog does not load"
The ChangeLog display in CyanogenMod-Updater does not seem to work. When I click on a release, the popup opens and loads forever. I reported this already to @Kra1o5 who cannot reproduce the issue, while for me it is reproducable. How about others?

How to reproduce:
Settings => About the phone => CyanogenMod-Updates => Click on any release

The expected output can be found at https://github.com/pi

[2015-09-20 13:41] Kra1o5 commented on #3
Its works for me: https://dl.dropboxusercontent.com/u/27852275/Screenshot_2015-09-20-15-37-46.png

[2015-09-20 15:53] stucki commented on #3
I believe you that it works for you :-) Still want to know if I'm alone with this problem or not.

Btw. nevertheless, device/bq/vegetalte/ and device/xiaomi/ do not belong to this changelog.

[2015-09-20 15:59] Kra1o5 commented on #3
Yes, includes vegetalte & armani  because is on my local_manifest, I support both.

Greetings

[2015-09-20 16:20] stucki opened #4 "Download counter not working"
It seems to me like the download counter at https://s.basketbuild.com/devs/Kra1o5/bq/piccolo/ is totally wrong. I downloaded the 20150919 release so the counter should be at least 1 - although I think it should be at 10-20. I don't know the real numbers, but 0 is wrong for sure!

[2015-09-20 16:23] Kra1o5 commented on #4
Yes is normal behavior.

Basketbuild only count downloads make on website not direct download (OTA).

& is error of the host.

[2015-09-24 20:02] stucki commented on #4
I understand that it's not your fault, however this should be fixed by the Basketbuild operators. It just looks bad if a release is only downloaded 3-4 times, even tough I'm sure that there are at least 30 people using the ROM... Is there a way to get in touch with the hoster?

[2015-09-24 20:12] Kra1o5 commented on #4
Yes, you can contact him here: support@basketbuild.com

Greetings

[2015-09-25 18:08] magicdave1 opened #5 "Headphone remote control doesn't work"
Tested with Apple headphones and headphones which were with an Android phone, both doesn't work.

[2015-09-27 15:42] andy-de commented on #1
Spirit 2 works fine. Only switching output from headphone to internal speaker does not work. Maybe it helps solving this issues.

[2015-09-28 11:05] Kra1o5 commented on #5
Hi,

You refer to volume control or play/pause?

Greetings

[2015-09-28 11:07] Kra1o5 commented on #1
Hi @andy-de ,

We have the issue located but thanks for the tip, people can use Spirit 2 as temporal workaround.

Greetings

[2015-09-28 15:25] magicdave1 commented on #5
I've used it always with Apple headphones, volume control never worked with it on Android devices (I think because of switched pins or something like that). I refer to play/pause and track skipping (forward and backwards).

[2015-09-28 16:32] Kra1o5 commented on #5
@magicdave1

Ok, @eloimuns reproduce the bug so we are looking into it.

Greetings

[2015-09-29 08:47] cmorlok commented on #5
Seems like the keymap is missing. The keys are detected correctly by the kernel:
- Play/Pause Button
  - `Keycode: 188. KeyEvent: KeyEvent { action=ACTION_DOWN, keyCode=KEYCODE_BUTTON_1, scanCode=256, metaState=0, flags=0x8, deviceId=2, source=0x101 }`
- Volume Up/Next Button
  - `Keycode: 190. KeyEvent: KeyEvent { action=ACTION_DOWN, keyCode=KEYCODE_BUTTON_3, scanCode=258, metaState=0, flags=0x8,

[2015-09-29 10:24] cmorlok commented on #5
**Solution:** I replaced the following lines in `/system/usr/keylaout/Generic.kl`

[code]

by these values (taken from `Generic.kl` of the stock rom):

[code]

Headset buttons are working fine now (tested with Xiaomi Piston).

[2015-09-29 11:18] Kra1o5 commented on #5
Fixed, will be in next build.

Thanks @cmorlok

[2015-09-29 11:18] #5 closed, assigned to eloimuns

[2015-10-01 11:45] stucki commented on #4
Asked them now, let's close the issue here.

[2015-10-01 11:45] #4 closed, assigned to nobody

[2015-10-01 12:10] stucki commented on #2
There was a new fix for this committed today:
https://github.com/piccolo-dev/android_kernel_bq_piccolo/commit/520bf435926e4dc0d7ca50b13f3509e0ee45a73e

I have made a test build at request of @Kra1o5. It works fine on my phone but I only have the 2 GB model:
https://www.dropbox.com/sh/oytnmfnm9o5763i/AAA9ikVUK_oOEXldYciSCfQea?dl=0

Can someone with a 3 GB model check it please and report here if mo

[2015-10-03 20:55] stucki opened #6 "Bluetooth and USB tethering not working"
It seems like bluetooth and USB tethering are both not working. WLAN tethering does work. Can anyone confirm this behaviour?

[2015-10-03 20:58] Kra1o5 commented on #6
Well, for USB tethering you cant have one option selected (MTP,PTP, Charge only) need to be in "USB Install Mode" .

[2015-10-03 21:04] stucki commented on #6
Well, it worked fine on other models so far. What could be the problem?
I'm not even sure if it's the same problem for bluetooth and USB - maybe these problems are not related to each other...

[2015-10-03 21:05] stucki commented on #6
I must add: The connection from my computer to the phone is established successfully, however I'm not getting any data. Need to investigate if the routing and firewall settings are correct...

[2015-10-03 21:06] Kra1o5 commented on #6
Yes, it works with USB without options selected (at least on my E5 4G) .

[2015-10-03 21:34] stucki commented on #6
Really strange, it works now! It even works when using bluetooth tethering, and it even works after a reboot. :-)

I really tried many times before without success, so I assume it was fixed with the following step:

The setting you mentioned (no USB mode selected) was already present - so what I did was to enable each and disable it again.

This seems really weird - maybe someone else can try and

[2015-10-03 21:35] stucki commented on #6
Even better: Now it even works when I have MTP selected. Works with USB tethering & with bluetooth tethering. Really sounds to me like a wrong setting was the problem...

[2015-10-03 21:36] Kra1o5 commented on #6
Yes, I can test when get the device.

[2015-10-03 21:37] stucki commented on #6
Thank you!

[2015-10-06 11:40] Kra1o5 commented on #2
I think @DocMAX have last release running fine with modem.

[2015-10-06 12:09] 205er commented on #3
It does definitely not work for build 20151004 and 20150922! --> loading forever.

[2015-10-06 17:16] magicdave1 commented on #5
Still doesn't work...

[2015-10-07 04:12] piwats opened #7 "64bit?"
Qualcomm 615 is a 64 bit cpu, armv8, isn't it?

So why does BoardConfig.mk (bq?) insists on using armv7?

[code]

[2015-10-07 04:17] piwats commented on #7
Examples of 64bit BoardConfig.mk for the 615:

https://github.com/sonyxperiadev/device-sony-kanuti/blob/master/BoardConfig.mk
https://github.com/Silentlys/android_device_zte_N939St/blob/master/BoardConfig.mk

[2015-10-07 07:42] Kra1o5 commented on #7
I know how to compile 64 bits but we cant do it.

We have blobs for 32 bits not for 64 bits.

Greetings

[2015-10-07 09:15] stucki commented on #7
Check this folder for proprietary files that are not available in source and exist only for 32bit platforms:
https://github.com/piccolo-dev/proprietary_vendor_bq/tree/cm-12.1-test/piccolo/proprietary

This means, we depend on BQ for this.

On the other hand, you won't gain anything by switching a 2GB / 3GB RAM device to 64bit.

[2015-10-07 11:35] piwats commented on #7
ah, o.k. I understand, bq itself is the limiting factor here...

It is not a question about the memory access.

ARMv8 has some simd improvements, as well as some instructions added (i.e. crypto), should be a bit faster, too.

Is it possible to take the blobs from the repo for the zte n939St (does the sony repo help? They actually have instructions how to build AOSP, the repo seems to be for the m4

[2015-10-07 11:57] Kra1o5 commented on #7
Not, we have specific blobs (like Camera).

[2015-10-07 12:22] piwats commented on #7
Any contacts to bq?

[2015-10-07 12:42] piwats commented on #7
Also, there ist this 615 based device officially supported by cyanogenmod:

https://github.com/cyanogenmod/android_device_yu_tomato

IMX214 is the same camera as on nexus 6/ oneplus 2, seems there is some src in cyanogenmod for it.

[2015-10-07 12:47] Kra1o5 commented on #7
Is more difficult than this, IMX214 have different EEPROM and differents configs.

[2015-10-08 08:56] 205er opened #8 "irregular reboots"
Hi,

my device reboots from time to time using the last CM-build (04.10.2015).
So far, it allways happend when the m5 was in sleep mode (display switched off).

Can I provide any additional information, that might help to resolve this issue?

Bye

[2015-10-08 08:58] Kra1o5 commented on #8
Some people fix this by increase minimun frequencies of cores.

Can you try it?

[2015-10-08 08:59] #2 closed, assigned to Kra1o5

[2015-10-08 09:00] Kra1o5 commented on #3
Well, I have it working.

Maybe ISP problems?

[2015-10-08 09:24] 205er commented on #8
I will give this a try.
Using trickster mod, i increased the min. CPU Freq. to 345MHz. Hopefully it will not result in a shortened battery life time ;-)

[2015-10-08 12:23] 205er commented on #8
Increasing the minimum CPU frequency does not help! I had another reboot some minutes ago :-(
Any other idea?
Wouldn't a system log help to analyze this problem?

[2015-10-08 12:26] Kra1o5 commented on #8
Well , logcat after reboot doesnt help & we dont have last_kmsg.

You can record with app CatLog.

[2015-10-08 16:14] stucki commented on #3
It didn't work using mobile data as well as wireless lan. Today however, it's working fine here. Need to try again at home...

[2015-10-09 18:36] DerSaxxe commented on #8
Today I had no reboot but the M5 got hot and did a shutdown. I have a 37 MB log file (zip 3.7 MB). Please look at your mails there you can find the download link. Many thanks

[2015-10-09 18:40] Kra1o5 commented on #8
Ok, thanks!

I will take a look into it asap.

Greetings

[2015-10-10 12:37] cmorlok commented on #2
I can confirm that the latest release is working fine on the 3/32

[2015-10-10 12:42] Kra1o5 commented on #2
Thanks for the feedback @cmorlok .

[2015-10-10 13:04] cmorlok commented on #5
@magicdave1: with which headset are you testing? Can you post the output of the keytest app (see link in my comment above)?

All the headsets I own work for with the latest release.

[2015-10-10 13:22] magicdave1 commented on #5
I usually use the earphones from Apple. It worked on all my android phones i had like this:

Play/Pause 1x: Play/Pause
Play/Pause 2x: Next track
Play/Pause 3x: Previous track

Therefore only this one button is recognized. Volume up/down has not been recognized.

Keycode: 188. KeyEvent: KeyEvent { action=ACTION_DOWN, keyCode=KEYCODE_BUTTON_1, scanCode=256, metaState=0, flags=0x8, repeatCount=0, eve

[2015-10-10 16:12] Kra1o5 commented on #8
@SIRSteiner ,

After check logs I can say the reboots are caused by memory overflow (Out of memory).

This is a big problem of LP in general, for next release I will try to optimize it.

[2015-10-12 07:19] cmorlok commented on #5
Scan code 256 is mapped to HEADSETHOOK, not to KEYCODE_BUTTON_1. Are you sure that you are running release 20151004 or later? If so, can you take a look at `/system/usr/keylayout`? There should be a file named `msm8939-snd-card-skuk_Button_Jack.kl` with this content:

[code]

[2015-10-12 16:27] magicdave1 commented on #5
Yes, it is the 20151004 release and the file has exactely the same content as you mentioned above.

[2015-10-12 20:45] cmorlok commented on #5
@Kra1o5: the headset keys do not work with the mappings in msm8939-snd-card-skuk_Button_Jack.kl. Maybe the name of the sound device does not match?

[2015-10-12 20:48] Kra1o5 commented on #5
@cmorlok not, the name is correct.

& I can see it is working with other people so is really weird.

Greetings

[2015-10-12 20:53] cmorlok commented on #5
Another thing is weird: I did check immediately after flashing the 1004 release and the buttons worked. Today it doesn't work.

Is there any way to see for which key layouts Android looks for a specific key event?

[2015-10-12 20:57] Kra1o5 commented on #5
@cmorlok , the keylayout event for this is HEADSETHOOK.

I cant test it yet (get my device back probably tomorrow).

[2015-10-12 21:10] cmorlok commented on #5
@Kra1o5: Yes I know. According to the doc, the lookup order is
- Vendor_XXXX_Product_XXXX.kl
- DEVICE_NAME.kl
- Generic.kl

I just don't understand why the Button_Jack is ignored here (256 is being mapped to BUTTON_1 which is defined in Generic.kl)

Is there any way to see the kl lookup for a device or one single key event? I can't see anything related in logcat.

[2015-10-12 21:13] Kra1o5 commented on #5
Yes, you can enabling: https://github.com/piccolo-dev/android_kernel_bq_piccolo/blob/cm-12.1-test/arch/arm/configs/cyanogenmod_piccolo_defconfig#L1480

[2015-10-12 21:17] cmorlok commented on #5
Thanks, I will test tomorrow.

[2015-10-14 09:34] cmorlok commented on #5
Pull request: https://github.com/piccolo-dev/android_device_bq_piccolo/pull/9

There are two things which have to be done to make headset buttons work again (at least on my 3/32GB model):
1. Remove the invalid hall switch key codes from the keylayout file (otherwise the file is ignored by Androids EventHub/InputReader)
2. Copy `msm8939-snd-card-skuk_Button_Jack.kl` to `Headset.kl` since there are

[2015-10-14 20:05] Kra1o5 commented on #5
Thanks, merged!

[2015-10-15 16:23] piwats opened #10 "kmod-tun"
The official fw does not have tun enabled (yet).

Could you please enable it?

[2015-10-15 16:28] Kra1o5 commented on #10
TUN support is already present.

Check: https://github.com/piccolo-dev/android_kernel_bq_piccolo/blob/cm-12.1-test/arch/arm/configs/cyanogenmod_piccolo_defconfig#L1304

[2015-10-15 16:30] #7 closed, assigned to nobody

[2015-10-15 16:30] piwats commented on #10
Ah, thank you very much.

[2015-10-15 16:31] Kra1o5 commented on #10
No problem.

[2015-10-15 16:31] #10 closed, assigned to nobody

[2015-10-20 10:15] akamkomputer opened #11 "Freezes while Youtube playback"
I had an issue in: cm-12.1-20151017-UNOFFICIAL-piccolo.zip

During youtube playback my phones freezes soon and only a press-all-keys-reset is helping. Once it rebooted by its own; Sometimes screen goes off after a while when pressing the power button. When you turn the screen back on it shows the unlock screen and then the home-screen (youtube was exited).

When i tried to get a adb logcat (plugge

[2015-10-20 16:35] akamkomputer commented on #11
Also happens with the previous build.
Switching to AwesomePlayer (instead of NuPlayer) in Developer settings doesn't fix it.
It only happens in Youtube fullscreen mode (tilted screen) and not in the small view.
Downscaling the video-quality to 720p doesn't fix it neither does throttling the CPU-frequency.

Can anyone reproduce this?

:-/ AK

[2015-10-21 18:29] Kra1o5 commented on #11
Hi,
@eloimuns can test it?, thanks.

[2015-10-22 12:51] akamkomputer commented on #11
FYI ... I digged a little bit deeper:
- issue also with HTML5-Videos (non-fullscreen & fullscreen)
- issue also with Facebook-autoplay-videos in the timeline ... (Facebook freezes, when you shortly stop at a autoplay-timeline video ... if you scroll by fast enough, you're most likely lucky.)
- issue is NOT with webpage-embedded Youtube videos (as with non-fullscreen-videos inside the Youtube app a

[2015-10-22 18:45] Kra1o5 commented on #11
Hi, I tested today (except facebook part) with not luck to reproduce it.

[2015-10-23 06:43] eloimuns commented on #11
I can't reproduce this issue. I use facebook, youtube and 0 freezes.

[2015-10-24 11:11] akamkomputer commented on #11
_damn_ ... thanks. I'll try to reinstall ...

[2015-10-24 16:13] akamkomputer commented on #11
I started over with a fresh system. Problem is still there.

It happens also when device is plugged into a wallcharger – but not while connected to adb logcat via USB. When i unplug the USB it freezes soon after.

:-/ AK

[2015-10-26 12:55] akamkomputer commented on #11
I noticed, that my device also freezes after a while during Hangouts-chatting. (not Video-chat, just Text-chat; without pictures, just text)
Maybe a hardware-problem?
:-/ AK

[2015-10-26 13:00] Kra1o5 commented on #11
Hi @halloalexkern ,

@eloimuns & me try to reproduce all errors you report without any luck.

So is really weird.

You can try making Hard Reset maybe its help (This erase all data on internal_sd & data partitions not on SDCard so if you do it, make a backup of any personal data first if you dont want to lose all the data).

Greetings

[2015-10-26 14:30] antonioborondo commented on #11
I have exactly the same freezing problem with YouTube and Facebook videos, but I can not reproduce it always. Its very annoying :-(

The official firmware version 1.2.4 teorically fix those problems, but I haven't check it yet (link in Spanish sorry): http://www.mibqyyo.com/comunidad/discussion/59280/actualizaci%C3%B3n-1-2-4-para-bq-aquaris-m5/

[2015-10-26 14:38] Kra1o5 commented on #11
You can check it in english: http://www.mibqyyo.com/comunidad/discussion/59283/bq-aquaris-m5-1-2-4-update/p1

But nothing related to videos, only related to front camera videos.

[2015-10-26 14:40] antonioborondo commented on #11
I've seen that in people comments thread. There is not in the official changelog.

[2015-10-26 14:46] Kra1o5 commented on #11
You are right @antonioborondo .

We are using latest CAF kernel branch & from bq kernel changes we are using 1.2.1 (latest available).

One log or dmesg can be really appreciate to point out the problem.

[2015-10-26 14:58] antonioborondo commented on #11
@Kra1o5 I'll try to figure out a way to get the log from my phone and put it on here ;-)

[2015-10-26 15:00] Kra1o5 commented on #11
Thanks @antonioborondo :-) .

Random errors are often the most difficult to hunt.

[2015-10-27 19:30] akamkomputer commented on #11
I tried it exactly with that Hard-Reset – i didn't format the SD-Card.
I reinstalled the latest CM 12.1 built and started Youtube right away, before anything installed ... and i got immediately a freeze :-(

Here a video.
https://www.youtube.com/watch?v=uuXPt90To78

Any ideas how i can get a good log for that?
It doesn't freeze when it's connected to USB and i „adb logcat“ it.
... and i just teste

[2015-10-28 07:12] eloimuns commented on #11
Hi @halloalexkern,

Can you try to get logcat using adb via wifi? Just enable option and in PC (same wifi network).

[2015-10-29 15:10] akamkomputer commented on #11
Wifi-logcat. Good idea.

Here you go.  A Error, Warning and Verbose-log.

https://www.dropbox.com/sh/7r04lj8n4ytrr7g/AAAurj3QqLnEQHUF_SBiPP8ga?dl=0

I marked the comments with **\* COMMENTS ***

I did't get a E/ for when the screen was freezing.
The Errorlog is best-commented.

for the Verbose-Log it was not really possible to get the exact position where it it froze – i tried 3 times ... somewher

[2015-10-29 15:44] Kra1o5 commented on #11
Thanks @halloalexkern ,

We will take a look into it asap.

[2015-10-29 16:01] magicdave1 commented on #11
Just wanted to let you guys know that I have the exactely same problems like @halloalexkern

[2015-10-29 16:11] Kra1o5 commented on #11
@magicdave1 @antonioborondo @halloalexkern ,

What variant of model you have?

@eloimuns & me 16/2 white variant.

[2015-10-29 16:13] magicdave1 commented on #11
16/2 black

[2015-10-29 17:01] Kra1o5 commented on #11
@halloalexkern can you provide dmesg too?

You can do it with adb wifi.

Because I think the error is on kernel part.

Thanks in advanced

[2015-10-29 17:04] antonioborondo commented on #11
@Kra1o5 32/3 black

[2015-10-29 17:08] Kra1o5 commented on #11
Thanks for the info @magicdave1 & @antonioborondo .

So we can discard variant problem.

[2015-10-30 13:28] akamkomputer commented on #11
I have the 16/2 black, too.

The dmsg is getting interesting. You can really see something happening here:

https://www.dropbox.com/sh/6hcakuhf93zeqk5/AAAoKtFBEEwaG0dBhQdD8MBUa?dl=0

I did 2 files with "tail -f dmsg" (and before that two where i just got the dmsg at different states and deleted the double lines)

I think that file ist most interesting: cont_dmsg_YT-Video_freezes.txt

Maybe also th

[2015-10-30 13:48] Kra1o5 commented on #11
Thanks @halloalexkern .
We will check it asap.

[2015-10-30 18:44] Kra1o5 commented on #11
@halloalexkern @antonioborondo @magicdave1 ,

New build is out, can you try it & report back the results?

Thanks

[2015-10-31 10:41] akamkomputer commented on #11
@Kra1o5
As far i i just tested it doesn't work, unfortunately. Still freezes. At least the video.

:-/ AK

[2015-10-31 10:59] akamkomputer commented on #11
https://dl.dropboxusercontent.com/u/99389807/Androidlogs/DMSG2/YT-VideoFreeze-with-b30.txt

[2015-10-31 15:27] Kra1o5 commented on #11
ok thanks @halloalexkern ,

At least I know is video/mdss part.

We are working on it.

[2015-10-31 17:14] akamkomputer commented on #11
Is it possible, that the UI-freezes are gone? I couldn't provoke any yet on the new build.

:-) AK

[2015-10-31 22:37] Kra1o5 commented on #1
By request of @stucki ,

More info about the issue.

Is located in audio.primary.msm8916.so (/system/lib/hw/).

It seems like stock lib make something on it to avoid cut audio on kernel suspend.

We have two options.

Fix it on kernel (sounds part) or try to fix it on audio HAL part (audio.primary.msm8916.so).

[2015-11-01 00:18] piwats commented on #1
The Yureka Plus (snapdragon 615) seems to not depend on audio.primary.msm8916.so.

[2015-11-03 18:07] antonioborondo commented on #11
@Kra1o5 I'm installing the new build in my device. I'm going to test it a few days and I'll let you know. Thanks a lot for your time!!! :smiley:

[2015-11-03 19:19] antonioborondo commented on #11
@Kra1o5 I'm sorry but video still freezes :pensive:

[2015-11-04 09:15] akamkomputer commented on #11
I also had another few UI-freezes. So they're not gone completely.

:-) AK

[2015-11-04 18:03] pinox12 opened #12 "Tabs"
Couldn't add widget.
https://goo.gl/photos/ZXTT45aNgxNfdmjt6

[2015-11-05 15:55] Kra1o5 commented on #11
Thanks for the feedback @halloalexkern & @antonioborondo ,  we will look into it asap.

[2015-11-05 15:56] Kra1o5 commented on #12
Is really weird, @eloimuns can you test it?

[2015-11-05 19:54] andy-de commented on #12
I don't think it's a bug. The "couldn't add widget" is a placeholder, if the searchbar of the Google Search App couldn't be loaded (Usually, at this position is the Google Searchbar). If you deleted the Google Search App or if you have frozen the app, the "widget" ist not available.

The "placeholder" can be hidden by using the GravityBox Xposed Module, if you want.

[2015-11-07 22:51] #12 closed, assigned to nobody

[2015-11-10 17:18] Kra1o5 commented on #11
Hi @magicdave1 @antonioborondo @halloalexkern ,

Can you test: https://s.basketbuild.com/filedl/devs?dev=Kra1o5&dl=Kra1o5/bq/piccolo/Test/boot_video.img & report back the results?

Greetings

[2015-11-12 07:42] akamkomputer commented on #11
That pretty boot-image fixed it for me!

Youtube runs smooth now without crashes (as far as i tested it) and even the nasty UI-freezes i had yesterday in Google Drive, while zooming in and out images, are gone now!

So nice! **Much kudos for you Sir!!**

:-) AK

[2015-11-12 08:35] magicdave1 commented on #11
What to do with that boot_video.img? I think this is not for flashing via recovery, right?

[2015-11-12 09:05] eloimuns commented on #11
If you are using TWRP, in install zip,at bottom right you will have option
to flash image.
El 12/11/2015 9:35, "magicdave1" notifications@github.com escribió:

[2015-11-12 09:16] akamkomputer commented on #11
or: boot into bootloader (eg. activate USB-debugging and then in terminal: _adb reboot bootloader_)
then in terminal: **fastboot flash boot boot-video.img** (this should finish with no error-message and take two seconds)
then: **fastboot reboot** (to restart your device)

:-) AK

[2015-11-12 12:59] stucki commented on #6
Hey I think this can be closed. In retrospective I don't really know if switching off and on was needed to fix it, however I cannot reproduce the problem anymore since then...

[2015-11-12 12:59] #6 closed, assigned to Kra1o5

[2015-11-12 21:11] Kra1o5 commented on #11
Thanks for the feedback @halloalexkern , I will wait for another confirmation to close the issue.

[2015-11-12 22:44] magicdave1 commented on #11
Thanks for both of you for helping me put the img on my device. I've tried watching videos for a couple of minutes and so far it works for me too. I will report back if these freezes will occur again.

[2015-11-12 22:46] Marty6 opened #13 "Hotspot "disabled due to sim subscription change""
When my phone is in place with a rather poor signal, **WiFi Tethering disables itself regularly** saying that the hotspot was "disabled due to sim subscription change".

Using the same SIM card in the same place with a mobile WiFi hotspot (MiFi), the Internet connection works perfectly.

[2015-11-12 22:56] Kra1o5 commented on #11
Thanks @magicdave1 , I close it now.

[2015-11-13 13:52] antonioborondo commented on #11
Thanks @Kra1o5 for the fix!!! Are you planning to deliver a new build with the latest changes? :smiley:

[2015-11-13 13:53] Kra1o5 commented on #11
Hi @antonioborondo yes.

Probably tomorrow.

[2015-11-13 13:53] #11 closed, assigned to eloimuns

[2015-11-13 20:52] magicdave1 commented on #11
Just had a freeze again in youtube and chrome.

[2015-11-13 21:02] Kra1o5 commented on #11
Weird.

[2015-11-13 21:28] akamkomputer commented on #11
I'm watching youtube videos all day long ;-) ... no more freezes.
I had a random reboot yesterday – after the phone was running somehow warm, but no freezes, neither UI nor video.

:-) AK

[2015-11-19 09:26] andristeiner opened #14 "SIM cards not recognized after encryption"
I've encrypted the phone trough the Android default way ("Settings" > "Security" > "Encrypt phone"). Everything went fine so far, however the SIM cards are not recognized anymore. Its just like they're not inserted at all ("SIM empty" in "Settings" > "SIM Cards"). After restoring a unencrypted backup, everything is fine again without changing anything hardware related.

[2015-11-19 19:37] Kra1o5 commented on #14
Thanks for the feedback @andristeiner

Can you provide a log with encrypted phone?

@eloimuns can you check it?

[2015-11-20 08:02] andristeiner commented on #14
What do you need exactly? Is there a documentation somewhere? I'm not very into the whole process yet, sorry. I know "adb logcat", do you need it's output? If yes, from the whole bootup or when does the interesting stuff happen?

[2015-11-20 14:11] antonioborondo commented on #11
Hi @Kra1o5, I've been testing the latest build since a couple of days ago and it seems to be working fine. Thanks a million!!! :smiley:

[2015-11-20 14:46] antonioborondo opened #15 "SIM number not assigned if roaming"
If one of the SIM cards is on roaming, the phone number is not assigned:

![sim](https://cloud.githubusercontent.com/assets/5370877/11302427/4d438a2e-8f95-11e5-940b-2ee000367ca8.png)

[2015-11-21 21:47] piwats opened #16 "AOSP Keyboard: is motion typing like swiftkey working?"
Here on 20151121 I noticed that the motion like typing aka swiftkey isn't working despite the appropriate options/settings set.

Is this a bug or do I miss something?

[2015-11-22 23:12] stucki commented on #16
I'm using Swiftkey too but don't miss any features. Can you please explain in more detail what doesn't work?

[2015-11-23 03:40] piwats commented on #16
sorry for the misleading "swiftkey" naming.

In the android keyboard settings, there under "gesture typing", all options are enabled, that is gesture typing should work.

Now, when I try to "gesture" a word, no trail, no nothing comes, as if any gesture typing is on. only letter popups pop up on each letter, but no trail is seen.

[2015-11-23 04:05] piwats commented on #16
Ah, I got it.

https://github.com/opengapps/opengapps/wiki/Advanced-Features-and-Options

put swypelibs in .gapps-config/gapps-config.txt to get the gesture typing working when installing open gapps.

[2015-11-23 04:05] #16 closed, assigned to nobody

[2015-11-24 20:46] Marty6 opened #17 ""Always ask" option for calls lost on every restart"
In SIM Card settings I chose the option "Always ask" for phone calls.

Unfortunately, after every reboot, this option reverts back to one of my SIM cards.

[2015-12-07 13:19] piwats opened #18 "Double tap on screen is sometimes not working."
Hi,

I've noticed that the double tap on screen to wake the phone up is sometimes not working.

To fix this I turn of and on again double taping in the settings. Then it starts to work again, at least for some time.

After some time double tap is gone again.

Does anybody have this issue, too?

[2015-12-12 17:49] Kra1o5 commented on #18
Hi @piwats ,

I cant reproduce it.

[2015-12-12 17:50] Kra1o5 commented on #17
Hi @Marty6 ,

Im only use one SIM slot.

Maybe other can try this.

[2015-12-12 17:52] Kra1o5 commented on #15
Hi @antonioborondo ,

Sorry for the big delay.

Is normal behavior at least with spanish SIM.

Using single or dual SIM.

[2015-12-12 17:53] Kra1o5 commented on #13
Hi @Marty6 ,

I & @eloimuns , will check it asap.

Greetings

[2015-12-12 17:55] Kra1o5 commented on #14
Hi @andristeiner ,

Sorry for big delay.

Do IT with app "Catlog"  from playstore.

[2015-12-12 18:32] piwats commented on #18
Its even hard for me to track it down.

 There is another report about it on android-hilfe.de forums.

It appears that it happens sporadically. One time double tap is gone, another it is back and working.

I try to log it with logcat.

[2015-12-13 21:00] piwats commented on #18
With today's update I do not notice any problems. At least yet.

[2015-12-14 09:31] starvoid commented on #1
Hi, the fix for this issue....

could be get from this kernel?

https://github.com/CyanogenMod/android_kernel_bq_msm8916

I'm not sure, but I guess that is for aquaris X5.

The last change was 3 days ago. It seems an active develop

Thanks for your effort.

[2015-12-14 11:46] antonioborondo commented on #15
Hi @Kra1o5,

Thanks for the info.

[2015-12-14 11:46] #15 closed, assigned to nobody

[2015-12-14 13:40] cmorlok commented on #14
This could be the solution: http://review.cyanogenmod.org/#/c/117861/1

[2015-12-17 17:49] piwats opened #19 "Does the M5 support Galileo?"
Hello,

I can't find any information on the snapdragon 615 and its GNSS chipset, the iZat Gen8c.

Do you know whether our device supports the Galileo GNSS?

It does support Beidou, which is very similar to Galileo.

I know that Galileo has not reached FOC yet, but still it is very interesting to know.

[2015-12-17 17:56] Kra1o5 commented on #19
Hi @piwats in theory yes.

[2015-12-17 19:40] cmorlok commented on #19
The 615 has the same GNSS (IZat Gen8C) like the 810. And the latter does
support Galileo:
https://www.qualcomm.com/news/releases/2015/02/02/qualcomm-snapdragon-810-processor-powers-premium-tier-mobile-experiences

So, yes, it should support Galileo. If it will not support it officially,
we will still be able to use the blobs from an 808/810 device and look of
it works.
Am 17.12.2015 6:56 nachm. sc

[2015-12-19 21:18] piwats opened #20 "New bootloader as of bq M5-3.2.2"
Hello,

is there currently a need to update anything from the last firmware (3.2.2) bq released to a M5 flashed originally with a 1.2.4 firmware? At least the bootloader?

Also, as I understand, the new bootloader is locked, but can be unlocked via fastboot. Do you know the reasons behind this move?

I have seen a post over at htcmania, but unfortunately my Spanish is very near to non-existent.

C

[2015-12-20 22:17] piwats commented on #20
Managed to update.

[2015-12-20 22:17] #20 closed, assigned to nobody

[2015-12-20 22:25] piwats opened #21 "20151220: Compass/hall/sensors (screen rotation) not working"
Hello,

I just have updated to 20151220 and noticed that the compass and other sensors stopped working.

F.e. the compass in GPS status app and cpuz sensor data is not show anything.

Any clues?

[2015-12-20 22:33] piwats commented on #21
When enabling the compass tile in the notification/status bar, and turning there the compass on, it gets stuck at "initializing..."

[2015-12-20 22:55] piwats opened #22 "20151220: Kernel oops"
There is an kernel oops during the boot, which looks as follows:

[code]

[2015-12-20 23:07] piwats commented on #22
Another ones:

[code]

[2015-12-20 23:29] piwats commented on #21
Rotation also does not work, obviously, since sensor related.

Users over a htcmania are experiencing it, too, if I correctly translate:

@htcmania: http://www.htcmania.com/showpost.php?p=21322823&postcount=876

and a confirmation from another user @htcmania: http://www.htcmania.com/showpost.php?p=21322853&postcount=877

[2015-12-21 09:07] yuichristian opened #23 "WiFi sometimes cant turn ON"
After reboot,why sometimes WiFi stuck. i must reboot again if i want use WiFi

[2015-12-21 13:16] Kra1o5 commented on #21
Yes, is already fixed on repos, I will release new build today.

Greetings

[2015-12-21 14:13] piwats commented on #21
Thank you very much :)

[2015-12-21 14:13] #21 closed, assigned to nobody

[2015-12-22 11:15] akamkomputer opened #24 "Reboots"
With the latest cm-12.1-20151221-UNOFFICIAL-piccolo.zip build i got some "random" reboots.

Screen freezes for 2 seconds ... then the device restarts:
- while in my newsfeed-reader (feedly) for a few minutes
- while in Chrome after 2-3 minutes
- while on charger and not on charger
- i could reproduce this multiple times
- while receiving a call for a few seconds
- i couldn't force it with offline-

[2015-12-22 13:08] Findecil commented on #24
Same observations, reboot at random times, even when not doing anything (phone in the pocket). Could not find anything relevant with Catlog.

I now have downgraded my system to the stable version from 20151213.

[2015-12-22 13:14] piwats commented on #24
Have you updated prior to installing 20151220/20151221 to bq's 3.2.2 firmware?

I had reboots, too. It is required to update to 3.2.2 first.

[2015-12-22 13:49] DerSaxxe opened #25 "Orientation sensor doen't work properly"
In version from 21.12.2015 the orientation doesn't work properly. After manual reboot it works a while.
Thank you

PS: Bootloader is the new one.

[2015-12-22 13:50] Findecil commented on #24
I did not, I just pushed the update offered by the phone without checking if there was a firmware update available. I'll do it, thanks.

[2015-12-22 13:53] DerSaxxe opened #26 "No mp3 possible for clock alarm"
In versions prior 20.12. there was no problem choosing mp3 as alarm. Now only ogg is possible.
Many thanks

[2015-12-22 14:50] akamkomputer commented on #24
I didn't update the firmware too. Will check it later!

:-) AK

[2015-12-22 15:26] piwats commented on #24
you will need to unlock the bootloader, though.

get the bootloader (fastboot mode) running, use then
fasboot oem unlock-go
to unlock it

[2015-12-22 17:09] piwats commented on #25
Can confirm. After some time it gets stuck.

[2015-12-22 17:17] piwats commented on #25
Also the magnetic sensor seems to be affected as well. Compass lags or stays stuck.

[2015-12-22 18:20] Cross0x0 commented on #24
Same here, I didn't tried to update the firmware because I don't want to loose all my data yet.

[2015-12-22 18:52] piwats commented on #24
Backup your data via twrp to a SD card and restore it later. I did so. Without any problems.

[2015-12-22 19:00] akamkomputer commented on #24
What part of the firmware do i have to install? or the whole thing?
:-) AK

[2015-12-22 19:36] piwats commented on #24
You have to install the whole firmware, boot it up, unlock the developer menu and turn off there an OEM lock off, too.

[2015-12-22 21:41] piwats commented on #19
As we won't see Galileo soon, I'll close this one.

[2015-12-22 21:41] #19 closed, assigned to nobody

[2015-12-23 12:33] Kra1o5 commented on #24
Yes if you have 5.0.2 firmware as base you probably get reboots is a confirmed issue due to new kernel changes.

To fix this you need to have 5.1.1 firmware as base.

Greetings

[2015-12-23 12:34] Kra1o5 commented on #25
Can you guys provide a logcat/dmesg?

Thanks

[2015-12-23 13:43] andresako commented on #24
One more here with the same problem :(
How can i downgrade it?
 I need to format all my device? =/

My dev:
m5 3Gb 64.
firmware base : 5.1.1

Upd. Data saved via twrp, how can I downgrade it now? =)

_That need to be the first on everything without read....._

[2015-12-23 14:08] Kra1o5 commented on #24
You can flash old version from here: https://s.basketbuild.com/devs/Kra1o5/bq/piccolo it doesnt wipe any data.

Greetings

[2015-12-23 14:19] piwats commented on #25
will do ASAP

[2015-12-23 14:19] piwats commented on #18
20151221: sometimes double tap isn't working.

[2015-12-23 14:36] andresako commented on #24
ok done, thanks!

[2015-12-23 14:39] Findecil commented on #24
I upgraded the firmware to 3.2.2 (5.1.1), reinstalled CM and restored the data backup from TWRP.

I had to do it twice, because the first time I must have missed something as the accelerometer stopped working correctly. The second time seems to have worked as intended.

[2015-12-23 15:23] piwats commented on #18
dmesg output number 1 when double tap isn't working

[20151221-dmesg.txt](https://github.com/piccolo-dev/android_device_bq_piccolo/files/70927/20151221-dmesg.txt)

and when double tap started to work.

[20151221-dmesg-double-tap-working-again.txt](https://github.com/piccolo-dev/android_device_bq_piccolo/files/70928/20151221-dmesg-double-tap-working-again.txt)

Sorry if they may overlap.

[2015-12-23 15:50] DerSaxxe commented on #25
[dmesg.zip](https://github.com/piccolo-dev/android_device_bq_piccolo/files/70966/dmesg.zip)
Here is it...

Kind regards
Ronny Steiner

Am 23. Dezember 2015 13:34:35 MEZ, schrieb Alejandro Lopez notifications@github.com:

[2015-12-23 16:09] Kra1o5 commented on #25
@SIRSteiner,

Thanks but not help me much.

I think this problem is selinux related.

@eloimuns can you set selinux to permissive to test it?

[2015-12-23 16:11] DerSaxxe commented on #25
Can I help with other commands on terminal as root?

Kind regards
Ronny Steiner

[2015-12-23 16:13] Kra1o5 commented on #25
@SIRSteiner , yes.

But it can be more easy using terminal on PC with:

adb pull sepolicy; adb shell su -c dmesg | audit2allow -p sepolicy

Thanks

[2015-12-23 16:33] DerSaxxe commented on #25
Here is the first...
Is the second command correct? Pipe in adb shell? I get bash: audit2allow: command not found

Sorry I have to send sepolicy per mail. Upload not possible...
Just a moment...

[2015-12-23 16:36] Kra1o5 commented on #25
To use audit2allow you need to have it installed on linux pc.

sepolicy file is needed for compare sepolicy & dmesg.

[2015-12-23 16:45] DerSaxxe commented on #25
I use manjaro. No package found for that. But should I send you the sepolicy and the output of
adb shell su -c dmesg
?

I did it. Look at your mail inbox please

[2015-12-23 17:10] Kra1o5 commented on #25
You need install: policycoreutils

[2015-12-23 18:05] piwats commented on #25
From a fresh reinstalled 3.2.2 and then converted to a clean cm-20151221:

audit2allow gives this out:

[code]

[2015-12-23 18:11] Kra1o5 commented on #26
Hi @SIRSteiner,

Yeah, https://github.com/CyanogenMod/android_packages_apps_DeskClock/commit/60d907dd2e13350b20d9883b2a55e68f5566ce73

CM add support for OGG files & probably breaks the other formats.

[2015-12-23 18:27] DerSaxxe commented on #25
Thank you piwats, because I am not able to install policycoreutils. It is only available in AUR and there are some errors while compiling dependencies, sorry

[2015-12-23 18:33] piwats commented on #25
I think my kernel is too new to do a audit2allow. Mine is 4.3.3 vs 3.10.49 on the phone.

[2015-12-23 18:37] DerSaxxe commented on #25
I sent Kra1o5 both sepolicy and the dmesg output. Maybe he can do
cat dmesg.txt | audit2allow -p sepolicy
with my files?

[2015-12-23 18:42] piwats commented on #25
I made a video showing the compass being stuck/lagging, if needed I can upload it.

[2015-12-24 14:24] akamkomputer commented on #24
Ok, that really went bad.

I flashed all the partitions from the .bat file ... in osx. unfortunately i did't know immediately that rem means a comment.
so i did: fastboot flash partition gpt_both0.bin
and all the rest, but not more rem-lines.

After that the system booted fine and i had no more wifi / sim.

So I thought that section must be for the modemst1 and modest2 that i probably erased:

rem

[2015-12-24 15:42] Kra1o5 commented on #24
Never flash partition init on bat with fastboot rem.

Contact with the technical service.

[2015-12-24 16:07] akamkomputer commented on #24
I also think now the technical service will be my only hope. Then it'll be a christmas without a phone...
:-/ AK

[2015-12-24 16:07] Kra1o5 commented on #24
Yeah, really bad luck :/

[2015-12-24 16:08] akamkomputer commented on #24
What ist that sec.dat part ... just for my understanding?

[2015-12-24 16:10] Kra1o5 commented on #24
Not sure, sorry

[2015-12-24 22:11] piwats commented on #18
It may be csused by too dry fingers. At least that is my observation. I'm closing this issue therefore.

[2015-12-24 22:11] #18 closed, assigned to nobody

[2015-12-26 13:02] piwats commented on #24
@Kra1o5

Could you put this in the wiki, so people won't destroy even more phones, when they are flashing under unixes?

[code]

[2015-12-26 23:44] piwats commented on #1
20151221: FYI: When turning off radio in the fm radio app, one can see the following stirng via dmesg:

[code]

And some errors via logcat, most notably the first three outlined:

[code]

[code]

[code]

[code]

[2015-12-27 11:24] DerSaxxe commented on #26
Hello! I think this problem needs small changes because if I rename a MP3 to OGG (no convert) I can use it as alarm and it is playing

[2015-12-27 11:43] Kra1o5 commented on #26
Hi @ SIRSteiner,

I will check it for next release (not today release).

Greetings

[2015-12-27 16:20] Kra1o5 commented on #25
Fixed in cm-12.1-20151227-UNOFFICIAL-piccolo.

Greetings

[2015-12-27 16:20] #25 closed, assigned to eloimuns

[2015-12-27 16:20] Kra1o5 commented on #23
Fixed in cm-12.1-20151227-UNOFFICIAL-piccolo.zip.

Greetings

[2015-12-27 16:20] #23 closed, assigned to nobody

[2015-12-27 16:21] Kra1o5 commented on #14
Hi @andristeiner ,

Thanks @cmorlok .

Now in our repos.

Included in cm-12.1-20151227-UNOFFICIAL-piccolo.

GreEtings

[2015-12-28 22:31] piwats commented on #1
Does the FM Radio app from the bq firmware run on cm?

[2015-12-28 22:36] Kra1o5 commented on #1
The problem is on audio HAL.

[2015-12-28 23:20] piwats commented on #1
Please excuse me, if I'm getting annoying.

I was looking the reference cynogenmod msm8939 device description files and noticed that they have a slightly different uevent.qcom.d file, where you can find the following line:

https://github.com/CyanogenMod/android_device_cyanogen_msm8939-common/blob/72c919fe35521ae0b907c1eb755ddd7c17c4e021/rootdir/etc/ueventd.qcom.rc#L138

[code]

via: https://githu

[2015-12-31 03:07] piwats commented on #1
Looking at the repo for the Xiami ferrari (msm8939) - it seems they have a working fm radio -, I noticed the following:

There is a

[code]

Look here: https://github.com/dh-harald/android_device_xiaomi_ferrari/blob/cm-12.1/rootdir/etc/init.qcom.fm.sh

which makes use of the following files/blobs/binaries included also in the original bq firmware (init.qcom.rc.sh is also present in the bq firmware

[2016-01-02 13:19] cmorlok commented on #14
While this hack does actually fixes the issue, it shouldn't be necessary unless we also build for single SIM devices.

Instead ril-daemon2 should not be disabled in init.qcom.rc. This is only useful when persist.radio.multisim.config is set in init.c.

[2016-01-02 13:33] Kra1o5 commented on #14
We can remove the prop & start service by default.

[2016-01-04 01:15] Beule70 commented on #24
I have downgraded my system to the stable version from 20151213 too.

How can i update the firmware to 3.2.2 (5.1.1) ? CM already running with Base Version is 5.1.1.

Hardware M5 - 3Gb 64.
firmware base : 5.1.1

All Version greater 20151213 makes random reboots!!! What can i do? How to install firmware to 3.2.2 (5.1.1) to get versions greater 20151213 works without reboots?

[2016-01-04 19:44] andy-de opened #27 "No HDR Camera Mode available - App is crashing"
When taking a picture with enabled HDR mode the app is crashing.
While using the Google Camera App the app crashes and shows "can't connect to camera".
By using the Cyanogenmod Camera App the app does NOT crash, but there is no difference if the picture was taken with or without HDR.
CM Version: cm-12.1-20151227-UNOFFICIAL-piccolo

Seems the issue is related to the versions as of 20151220 (based o

[2016-01-04 19:55] DerSaxxe commented on #27
Same here and Open Camera takes no pictures in HDR mode.

[2016-01-04 21:36] hobbypunk90 commented on #27
I have the same problem

[2016-01-04 21:38] Kra1o5 commented on #27
Hi guys,

Is a libs problems, when it get fixed on stock it will be on CM too.

Greetings

[2016-01-06 18:23] piwats commented on #17
Can confirm:

When I set data to sim2, sms/mms and phone calls to sim1, the settings are all then reverted back to sim2 on reboot.

[2016-01-11 13:44] andristeiner commented on #14
Verified, works with  cm-12.1-20151227-UNOFFICIAL-piccolo now, thank you.

[2016-01-11 13:44] #14 closed, assigned to nobody

[2016-01-11 21:47] cmorlok opened #28 "Flashlight does not work"
The flashlight QS tile is inactive. Seems like the system doesn't know about the capabilities.

[2016-01-11 21:51] cmorlok opened #29 "Preferred SIM for Cellular data switches between SIM 1 and 2"
After reboots, mobile data is sometimes automatically set to SIM 2

[2016-01-11 21:52] cmorlok opened #30 "Preferred network type can't be changed"
It's always 4G on SIM 1 and 2G on SIM 2, no matter what has been selected in settings.

[2016-01-11 21:57] cmorlok opened #31 "Bluetooth power consumption is calculated wrong"
![screenshot_20151214-085638](https://cloud.githubusercontent.com/assets/1296377/12247954/bd5c67d2-b8b6-11e5-9619-f3d66a70abfa.png)
![screenshot_20151214-085644](https://cloud.githubusercontent.com/assets/1296377/12247955/bd76eaee-b8b6-11e5-8523-b14ccca01ee8.png)

[2016-01-11 21:59] Kra1o5 commented on #31
Yes, we need to set value in overlay to fix it.

[2016-01-12 14:10] antonioborondo commented on #24
I have the same question than @Beule70: what's the process to flash the phone with the Firmware 3.2.2? Should we download it from here http://www.mibqyyo.com/en-download/categorias/aquaris-m5/ and install it using TWRP?

[2016-01-12 14:21] Kra1o5 commented on #24
Hi @antonioborondo ,

It cant be flashed via TWRP,

You can use this tutorial (On spanish): http://www.htcmania.com/showpost.php?p=21274180&postcount=1

Greetings

[2016-01-12 21:07] cmorlok commented on #30
Fixed.

[2016-01-12 21:07] #30 closed, assigned to nobody

[2016-01-12 21:07] cmorlok commented on #31
Fixed.

[2016-01-12 21:07] #31 closed, assigned to nobody

[2016-01-13 08:27] cmorlok commented on #13
This (bad) behavior has been introduced to CM12.1 here: http://review.cyanogenmod.org/#/c/109021/

A fix has already been merged on Dec 9th: http://review.cyanogenmod.org/#/c/122778

[2016-01-13 08:29] cmorlok commented on #22
Is this for CM12.1 or CM13.0? I see the same oops on 13.0.

[2016-01-13 11:25] antonioborondo commented on #24
Thank you very much for the info @Kra1o5! The whole process seems to be a bit tricky! I hope not to brake my phone! :smile:

EDITED: @Kra1o5, I followed the steps on your link and right now I have installed the 12.1-20160113-UNOFFICIAL-piccolo version. It works perfect. Thank you very much for your work!!! :+1:

[2016-01-13 12:22] akamkomputer opened #32 "GoogleCamera: Video mode broken"
I get a force-close in CM13 (20160112), when i switch to video in Google Camera app.
In CM13-Camera app, the app simply closes after switching to video. Reopening closes it immediately, as it remembers, that it was in video-mode.

Thanks for awesome-developing!

:-) AK

[2016-01-13 12:59] cmorlok commented on #32
Confirmed. FC on Snap as well.

[2016-01-13 18:23] piwats commented on #22
Cm12.1

[2016-01-13 21:08] DerSaxxe commented on #27
Hi! I don't know why, but with the lastest build (20160113) HDR mode is working with Open Camera.

[2016-01-13 21:09] Kra1o5 commented on #27
Hi  @SIRSteiner ,

Its fixed for all cameras.

Greetings

[2016-01-13 21:09] #27 closed, assigned to Kra1o5

[2016-01-14 09:42] akamkomputer opened #34 "Roaming by default"
I dont know if it's a bug ... but it could get expensive (for somebody who travels often between switzerland and EU ;-)

Roaming on both SIM-cards was automatically set to „on“ after a clean install of CM13 (20150112) (install-langauge: English-US)

:-) AK

[2016-01-14 09:58] cmorlok commented on #34
This has been fixed upstream: http://review.cyanogenmod.org/#/c/127943/

Will be fixed in the next build.

[2016-01-14 22:12] #34 closed, assigned to nobody

[2016-01-14 22:14] cmorlok commented on #32
Video works with Google Camera and Camera2, but not with the new Snapdragon Camera.

[2016-01-15 09:44] akamkomputer commented on #32
For me, the video in com.google.android.GoogleCamera v3.1.021 doesn't work in 20160112.
I installed it with 6.0 opengapps-stock.
org.cyanogenmod.snap v2.0.002 doesn't work either.
:-) AK

[2016-01-15 12:07] akamkomputer commented on #32
Oh i didn't see that the 2016014 update is out.
Doesn't show up in Cyanogenmod updates. Is that another issue?

[2016-01-15 12:12] Kra1o5 commented on #32
Hi @halloalexkern ,

CM13.0 not have OTAs enable yet.

[2016-01-15 17:35] andy-de commented on #27
@Kra1o5
HDR works fine (eg Google Camera) but not with the CyanogenMod Camera App. By using the Cyanogenmod Camera App there is still no difference if the picture was taken with or without HDR.
Thank you for your awesome work.  :)

[2016-01-15 17:37] Kra1o5 commented on #27
Hi @andy-de ,

Yes, but is more one app problem than device.

[2016-01-15 19:23] andy-de commented on #27
Ok, thank you. I thought it might be interesting. ;)

[2016-01-17 09:30] stucki opened #35 "SIM 2: Cannot switch back from 2G to 3G / LTE"
I added a new APN for the 2nd SIM card. Not sure if it's because of that or not, however:

Since then, the 1st SIM was had network turned off. I could only fix it by changing the network mode to 2G. However, now I'm unable to switch back to 3G or LTE. It doesn't work through settings and it neither works using the `*#*#4696#*#*` menu. Also in logcat, I don't see any errors.

Can anyone reproduce t

[2016-01-17 09:31] stucki commented on #29
I can confirm this. It may be fixed since yesterday, see http://review.cyanogenmod.org/#/c/128480
However, I'm unable to make a new build since then (still checking the reason...).

[2016-01-17 20:23] stucki commented on #35
Hmm, don't know if this problem is really device specific or not. At least, I found a simple workaround for it:
I turned the phone off, swapped the SIM cards, and booted again. LTE was immediately working again. So I turned the phone off again and swapped the SIM cards back into their original slots, and it looks like the problem is gone.
I am now able to switch from LTE to 3G and 2G, and back to

[2016-01-17 22:33] cmorlok commented on #29
128480 fixes something else.

This bug has been introduced by http://review.cyanogenmod.org/#/c/121239
For details, see my comment there.

I have reverted this change for build 20160117, so it should temporarily be fixed now.

[2016-01-18 08:21] cmorlok commented on #35
This is not APN related. I am having the same issue, but I didn't change any to APN setttings. All I did was to enable 4G on the second SIM. Seems like there are more upstream bugs to address.

Workaround: remove the non-data SIM, set data to 4G, insert the non-data SIM again (no need to reboot, hotswap is working).

[2016-01-18 08:25] cmorlok commented on #30
If network type still can't be changed, it might be because of #35

[2016-01-19 07:41] cmorlok commented on #35
This might be fixed by http://review.cyanogenmod.org/#/c/128511/ and http://review.cyanogenmod.org/#/c/128512/

I will test it tonight.

[2016-01-19 07:57] cmorlok commented on #32
Hi @halloalexkern. You can find the unofficial pre-releases on XDA.

[2016-01-19 08:11] cmorlok commented on #32
Some tests on build 20160117:
- good: Camera2 2.0.002 (com.android.camera2, 902c8585600a-30, builtin): Video recording works
- good: OpenCamera 1.27 (net.sourceforge.opencamera):  Video recording works
- good: GoogleCamera 2.5.052 (com.google.android.GoogleCamera, 2005148-30, latest Play Store version for our phone): Video recording works
- bad: GoogleCamera 3.1.021 (com.google.android.GoogleCamer

[2016-01-20 08:22] stucki commented on #35
Seems to work now. I cannot reproduce the problem anymore. Also the SIM preference is now preserved after reboot.

[2016-01-20 08:48] cmorlok commented on #35
Hi @stucki

Are you testing my build, or did you build on your own?

[2016-01-20 09:35] stucki commented on #35
I'm using my own build which was built yesterday night.

[2016-01-20 20:36] stucki commented on #35
Hmm, the problem is not fixed. Just had the same issue again on the other SIM card... :-/

[2016-01-20 22:39] piwats opened #36 "Kernel DIAG_CHAR for radio debug & SnoopSnitch"
Hello,

would it be possible to enable DIAG_CHAR in the kernel, so one can use SnoopSnitch?

via https://opensource.srlabs.de/projects/snoopsnitch

This one has no priority at all.

Thanks in advance :)

[2016-01-20 23:13] piwats commented on #1
Seems to work in CM-13 (cm-13-20160120) :+1:

[2016-01-20 23:37] piwats opened #37 "cm-13: double tap activation not working"
With the first cm-13 build from 20th of January (cm-13-20160120), double tap to wake up is not working.

Logcat shows absolutely nothing, neither when I'm double taping on the display, no when I enable or disable double tap in the settings.

Double tap for standby is working, though.

dmesg is a source of fortune:

[code]

[2016-01-20 23:46] piwats opened #38 "cm-13: sensors not working"
cm-13-20160120: Orientational sensors are not working.

Proximity and light sensors are working, though.

Maybe #37 is related to this.

dmesg is full of:

[code]

[2016-01-20 23:52] piwats commented on #35
Can confirm, same behaviour here. cm-13-20160120

[2016-01-21 00:01] piwats opened #39 "Kernel oopses?"
cm-13-20160120: dmesg is full of this kind of errors:

It seems, that android.settings segfaults.

I am not sure, but maybe this is somehow related to #35?

[code]

[2016-01-21 00:20] piwats commented on #35
#39 seems to be _very_ related, because when I try to change the network type from 2G to 3G or LTE, I start to see segfaults of android.settings in dmesg:

That one particular happened just during the switch to 3G or LTE from 2G:

[code]

[2016-01-21 00:45] piwats commented on #28
On cm-13.0-20160120 the behaviour seems to be the same. I noticed the tile when I was changing the tiles, but since the torch tile is somehow gone to where I have no idea about.

[2016-01-21 06:35] cmorlok commented on #28
I am still investigating this. It seems to be an upstream issue. The flashlight was working for some time, but it suddenly disappeared again. Our camera reports the available features correctly, but it implements the oldest available interface (Camera1/HAL1). Maybe it's a bug in the Camer2->Camera1 wrapper.

[2016-01-21 06:37] cmorlok commented on #35
Is there anything shown in logcat at this point in time? (either "logcat -b system" or "logcat -b radio")

[2016-01-21 07:06] stucki commented on #28
Btw. I'm using Runtastic Sleep Better which also provides a flashlight when the alarm is on, and it works fine there.

[2016-01-21 07:08] cmorlok commented on #38
SELinux needs to be updated

[2016-01-21 07:14] cmorlok commented on #28
The flashlight itself is working fine. And the camera API correctly returns that is has a flashlight. The problem is somewhere on the way between the Flashlight QS tile and the camera: there is a function that tries to find out if the camera has a flashlight. If this function returns true, the tile is shown, otherwise it doesn't appear. For whatever reason this function returns false. And I don't

[2016-01-21 14:21] akamkomputer opened #40 "Adoptable storage broken after upgrade"
I upgraded from CM13(160114) to CM13(160117) ...

After the Apps-initialising the SIM-pin-screen i got a lot of error-messages, that various apps were closed.
And one message, that my SD-card cannot be read.
I previously formatted that as „internal storage“ (not as „portable“).
I can imagine that the FCs had something to do with the app-data stored on the SD-card. The system was not usable due to

[2016-01-21 14:31] cmorlok commented on #40
Can you provide us some logcats?

[2016-01-21 14:40] piwats commented on #35
@cmorlok: I'll do. However, it will take some time, as I have tried out cm-13.0-20160120 yesterday just of curiosity. At the moment cm-12.1 is back on the phone again. Maybe tonight I'll flash it over again.

[2016-01-21 16:19] akamkomputer commented on #40
sorry, i'm already on 160114 again ... i would have to reinstall 160117

[2016-01-22 08:22] akamkomputer commented on #40
Does anybody use the SD-card-internal-storage feature? or even upgraded succesfully (to 20160117 or later?)

[2016-01-23 12:56] akamkomputer commented on #40
I formatted the SD-card to portable before upgrading to 160120... then everything worked out fine.
:-) AK

[2016-01-24 18:19] piwats commented on #35
with 20160124 I get this:

most important:

[code]

in system

[code]

and radio:

[code]

and dmesg as usual:

[code]

[2016-01-24 18:25] piwats commented on #35
Ah, and android.settings segfault errors are also the same to observe as previously shown...

[2016-01-27 06:08] piwats commented on #39
Definitely related to #35

[2016-01-27 09:08] cmorlok commented on #35
@piwats Can you describe exactly (step by step) what you are doing before you get this error? I cannot reproduce it.

[2016-01-27 13:46] cmorlok commented on #36
This has been enabled right from the beginning:
https://github.com/piccolo-dev/android_kernel_bq_piccolo/blame/cm-12.1-test/arch/arm/configs/cyanogenmod_piccolo_defconfig#L1691
https://github.com/piccolo-dev/android_kernel_bq_piccolo/blame/cm-13.0-test/arch/arm/configs/cyanogenmod_piccolo_defconfig#L1692

Do you have any problems with the app?

[2016-01-27 13:59] piwats commented on #36
That's great news.

I was not sure about whether it was actually enabled.

[2016-01-27 14:48] #36 closed, assigned to nobody

[2016-01-27 14:50] piwats commented on #35
1. I switch card2 to 2G if it was  LTE.
2. I try to switch from 2G to 3G or LTE back. With no result, Bering stuck in 2G.

[2016-01-27 16:53] piwats commented on #35
I've forgot to mention I use 2 sim cards. card1 only for sms/voice, no edge,lte, or co. card2 is LTE only.

[2016-01-28 12:37] piwats opened #42 "Double tap activation not working when charging"
When the phone is charging and the charging cable is connected, double tap to activate is **not** working/responding.

When not charging and the cable is disconnected, double tap is working as it should.

[2016-01-28 12:53] piwats commented on #42
Does only happen when on external charger.

When connected to a laptop, it seems to work though.

[2016-01-28 16:53] cmorlok commented on #38
Fixed in build 2016/01/24.

[2016-01-28 16:53] #38 closed, assigned to nobody

[2016-01-28 16:54] cmorlok commented on #28
Fixed in build 2016/01/24.

[2016-01-28 16:54] #28 closed, assigned to nobody

[2016-01-28 16:55] cmorlok commented on #32
Fixed in build 2016/01/24.

[2016-01-28 20:03] piwats commented on #22
Have not seen those in cm-13.

Closing in favor of cm-13 related reports/bugs.

[2016-01-28 20:03] #22 closed, assigned to nobody

[2016-01-29 07:19] cmorlok commented on #29
Waiting for the fix http://review.cyanogenmod.org/#/c/130332 to be merged.

[2016-01-29 10:02] 1tft opened #43 "GPS location icon"
Hello, first I want to say a big respect for this CM13 Rom for Aquaris M5.
I'm really enjoying this stable and smooth ROM. Thank you! Is there any way to donate via bitcoin because I don't want to make evil Paypal more profit?!

One question to this ROM: With Android 4.x / CM 11.x location icon was blinking/flashing when searching for a fix and only was permanent displayed when device had a GPS fi

[2016-01-29 10:07] piwats commented on #43
cm-13 is yet not fully complete in comparison with cm-12.1.

If you have noticed, there are no indicators of downloading on the wifi and sim icons, too.

Please be patient. Cyanogen has not released cm-13 yet. At this point it is still experimental and even lacks some of the futures common, available and very appreciated in cm-12.

[2016-01-29 10:32] piwats commented on #42
Seems to not work only if charging, e.g. <95%.

[2016-01-30 17:14] airesdp opened #44 "Impossible to remove Heads up notifications"
It seems to work, but when you recieve three continued notifications, the head up appears.
I tested with third-party applications and the same thing happens. No way to fix it.

---

_No se pueden desactivar las notificaciones Heads up. Parece que funciona, pero en cuanto llegan tres notificaciones seguidas vuelve a aparecer. Ni siquiera con otras aplicaciones he logrado que funcione._

[2016-01-30 23:19] Kra1o5 commented on #37
Already fixed.

[2016-01-30 23:19] #37 closed, assigned to nobody

[2016-01-30 23:21] Kra1o5 commented on #42
We can take a look into it.

@eloimuns can test it?

[2016-01-30 23:21] Kra1o5 commented on #43
Yes, CM13.0 is WIP upstream.

[2016-01-30 23:23] Kra1o5 commented on #44
Hi @airesdp ,

Thanks for the feedback, can you provide us one logcat?

[2016-01-31 05:59] piwats opened #45 "Headset buttons sometimes not working, double tap at the same time, too."
Headset controls (buttons) for volume up/down sometimes stop working.

Coincidentally, double tap stops working at the same time.

When I turn on the display by the power on button, and reconnect the headset again, all is fine and everything seems to work again.

This odd behaviour I haven't seen in CM12.

I guess that double tap and headset controls are controlled by input, so this is the way to

[2016-01-31 09:55] 1tft commented on #43
Thank you for this information. @Kra1o5 do you have a bitcoin address so that I can say thx for this great ROM?

[2016-01-31 09:59] Kra1o5 commented on #43
@1tft , not but dont worry I do this for fun its a hobby.

Greetings

[2016-01-31 11:44] piwats opened #46 "USB mode settings are not saved"
When connecting to a laptop, for file transfer one has to set the mode to MTP every time a connection is made.

It seems that CM13 does not yet save this setting.

[2016-01-31 11:47] Kra1o5 commented on #46
Yeah, now the default behavior is charger.

[2016-01-31 12:17] piwats commented on #46
Is it intentional or a bug then?

[2016-01-31 12:19] Kra1o5 commented on #46
Now We dont set default to mtp.

[2016-01-31 12:41] piwats commented on #46
This is indeed intentional and a major change in 6.0.

No bug at all.

[2016-01-31 12:41] #46 closed, assigned to nobody

[2016-01-31 14:01] airesdp commented on #44
I'll find how to do that and tomorrow morning i'll do it. I've asked to other users about the problem and the same happen to them.

Thank you for your job!!

[2016-02-01 06:27] akamkomputer opened #47 "Camera still not perfect"
Cm13-160124:
1. Google Camera 3.1.021 still force closes when switching to video mode. (can't connect to the camera) - this wasn't fixable, right?
2. CM camera 2.0.002 force closes when i click on the gallery.

Can anybody reproduce this?

:-) AK

[2016-02-01 06:39] piwats commented on #47
Have you tried cm-13-20160131?

[2016-02-01 09:22] 1tft commented on #47
@halloalexkern 2.: Can't reproduce with cm-13-20160131. For me camera/gallery switching is working fine.

[2016-02-01 15:04] airesdp commented on #44
I tried the new build and the bug continues.

Here is the logcat.
[2016-02-01-15-57-37aaa.txt](https://github.com/piccolo-dev/android_device_bq_piccolo/files/112434/2016-02-01-15-57-37aaa.txt)

[2016-02-01 16:14] piwats commented on #45
This is on cm-13-20160131.

I have a way to reproduce it:

Prerequisites:

turn off music player, headset not inserted.

insert headset.

**Action 1: Volume Up:**

logcat:

[code]

Action 1 result: Volume goes up. (Telephone symbole and volume shifter are shown)

**Action 2: Middle button/pause or call button:**

[code]

Action 2 result: Nothing happens.

**Action 3: Volume down:***

Pressing the

[2016-02-01 16:24] piwats commented on #35
cm-13-20160131:

dmesg gives during the start a ton of those segfault errors.

Now the behavior has changed:

When I try to change the network type from LTE to 3G nothing happens, apart from  m.android.phone faulting again.

Although I see LTE in the setting of the 2nd card, only an "E" is displayed. So is the speed. At the moment I can't get LTE to work.

[2016-02-02 16:19] piwats commented on #35
It seems to be a CM13 related bug. I have reports on the same behavior on CM13 nightlies fot the Moto G 2014.

[2016-02-03 10:40] piwats commented on #35
Behavior confirmed over at http://www.htcmania.com/showthread.php?t=1130019&page=21

[2016-02-03 12:51] piwats commented on #35
Similar situation described here:

http://forum.xda-developers.com/nexus-4/help/cm13-switching-to-wdcma-t3280353

And a patch is provided here, has to be changed accordingly:

http://review.cyanogenmod.org/#/c/125897/

[2016-02-03 13:33] cmorlok commented on #35
@piwats That patch is for #30 and has already been applied. This bug here is only for the second SIM (I have changed the title to make that clear). On SIM 1 you can chose any network mode including 4G.

[2016-02-03 14:14] piwats commented on #35
At the moment, with cm13-20160130, I can't choose the mode even on sim1. At the moment it is stuck with LTE;  3G or 2G cannot be chosen. The signal status shows me an "E" while the sim settings shows me that LTE is chosen. Also the behavior is the same as sim2 at the moment.

dmesg shows task.ti and android.settings segfaulting all the time. I have no idea how to debug further.

[2016-02-03 17:41] piwats commented on #35
aout the patch: I looked through cyanogenmod sources of various devices. It seems that most of them have not applied it.

At this point, does it even has an impact?

[2016-02-03 21:07] cmorlok commented on #29
Has been merged on Feb 1st, will be fixed in next build.

[2016-02-03 21:08] Kra1o5 commented on #29
We now release weekly builds.

Greetings

[2016-02-03 21:17] cmorlok commented on #35
Has been merged upstream and will be fixed in the next build: http://review.cyanogenmod.org/#/c/126364/

Before this change, we would have to set `ro.ril.multi_rat_capable` to `true` to enable 3G/LTE on SIM 2.

It's still not perfect, you will have to change SIM 1 to 2G manually before being able to set the network mode on SIM 2.

[2016-02-03 21:21] cmorlok commented on #47
Duplicate of #32.

[2016-02-03 21:21] #47 closed, assigned to nobody

[2016-02-03 21:22] cmorlok commented on #32
GoogleCamera 3.1.021 still FC when switching to video mode

[2016-02-03 21:24] Kra1o5 commented on #32
Yes, now I use SnapCamera (HDR still pending).

[2016-02-04 10:11] piwats commented on #35
Yay! That's something.

However, why is there this problem which seems not to be in cm12.1?

[2016-02-04 17:33] #13 closed, assigned to nobody

[2016-02-07 20:10] piwats commented on #35
cm-13-20160207: Improvement is evident.
LTE sim2 is back again and working.
Though sim1 has to be in 2g mode.

This can be understand as a workaround. Still, improvement is needed until on par with cm12.

[2016-02-08 09:09] starvoid opened #48 "Selecting network doesn't work for SIM 2"
When I try to change the network mode of the SIM2 from 2G to 3G or LTE, it seems no has effect. The same interface works fine for SIM1.

I'm using the 7/1/2016 image.

Thanks for your effort and good work.

Please, find attach the logcat in that moment:

02-08 10:12:07.007  2332  2332 D wpa_supplicant: wlan0: Control interface command 'SIGNAL_POLL'
02-08 10:12:07.019  2332  2332 D wpa_supplicant:

[2016-02-08 09:18] starvoid commented on #35
I'm using the cm-13-20160207 image.

When I try to change the network mode of the SIM2 from 2G to 3G or LTE, it seems no has effect. The same interface works fine for SIM1.

Thanks for your effort and good work.

Please, find attach the logcat in that moment:

02-08 10:12:07.007 2332 2332 D wpa_supplicant: wlan0: Control interface command 'SIGNAL_POLL'
02-08 10:12:07.019 2332 2332 D wpa_supplicant

[2016-02-08 09:18] #48 closed, assigned to nobody

[2016-02-08 09:18] starvoid commented on #48
duplicate issue

[2016-02-08 10:42] cmorlok commented on #35
You have to change network mode of SIM 1 to 2G first. Then you'll be able to switch SIM 2 to 3G or LTE.

[2016-02-14 10:38] andresako opened #49 "Random reboots"
Yesterday I try to upgrade my M5 to cm13 with a very bad results.

At first, reboots after 5 min, I try to find the last_kmsg without luck.

After all day, I decided to downgrade to a stable cm12, but I still having this random reboots, maybe after 3 or 4 hours, but I cant let it like this.

I want to help you to fix it, what can I do?

Ps. Last_kmsg still without appear

[2016-02-14 10:46] cmorlok commented on #49
Have you upgraded to the latest ROM from BQ (at least 3.2.2) before
installing CM?

[2016-02-14 10:50] andresako commented on #49
I thought so, I was using the cm12 at V, 20151213 without problems  since this summer.
I need to install the official bq rom before cm13?

[2016-02-14 11:12] cmorlok commented on #49
You need to install the latest BQ ROM for any CM after 20151220.

[2016-02-14 11:15] andresako commented on #49
Damn!
I'm on it right now  TY!

ps. to do that... ? ''^.^

[2016-02-14 11:20] cmorlok commented on #49
Be aware that you have to unlock the bootloader after installing the latest
BQ ROM. Normally, this will wipe the phone completely (including internal
SD). There are some instructions on the web about how to avoid that.

[2016-02-14 13:40] andresako commented on #49
I'm ready to start with all of that but I have a question, twrp 2.8.7 it's fine? Or I need 3.0? And finally, to install the twrp.img, how can I do that?
Thanks a lot

[2016-02-14 18:24] andresako commented on #49
ok so, upgrading my status:

Now I have the last stock rom installed.
Reboots errors seems to have solved.

My problem now is I can't install the TWRP,
i'm trying with TWRP 3.0.img

adb reboot bootloader  //enter on fastboot
fastboot flash recovery twrp.img  //cmd close normally (?)
fastboot reboot  //reboot and still the stock recovery

What i'm doing wrong?
Thank's for the help

---

edit:
TWRP

[2016-02-14 19:50] #49 closed, assigned to nobody

[2016-02-15 09:24] 1tft opened #50 "Double tap to wake not working in 13.0-20160214"
Helle, just upgraded from 13.0-20160207 to 13.0-20160214 and double-tap to wake not working any longer.
Switched settings and rebooted phone but problem still exists.
Tap to sleep is still working.

[2016-02-15 09:30] 1tft opened #51 "Sound Recorder can not save recordings to SD card"
Don't know if it is a CM13 problem or a piccolo one.
Just wanted to mention that if you choose "SD card" as Storage location in the the SoundRecorder settings and start recording you get the error message "Unfortunaely, Sound Recorder has stopped"
Everything is working fine with setting Storage location -> Phone storage.
Affected 13.0-20160214 and former 13.0-xxxxxxxx versions.

[2016-02-15 09:35] cmorlok commented on #51
Logcats, please.

[2016-02-15 10:21] cmorlok commented on #29
Fixed in 2016/02/07

[2016-02-15 10:21] #29 closed, assigned to nobody

[2016-02-15 10:28] 1tft commented on #51
W/PackageManager( 787): Not granting permission android.permission.WRITE_MEDIA_STORAGE to package com.android.soundrecorder (protectionLevel=18 flags=0x3008be45
W/PackageManager( 787): Not granting permission android.permission.CAPTURE_AUDIO_OUTPUT to package com.android.soundrecorder (protectionLevel=18 flags=0x3008be45

[2016-02-15 10:39] cmorlok commented on #51
I can reproduce the issue, there are no open upstream commits.

[2016-02-15 12:55] piwats commented on #50
Same here.

@Kra1o5: Is an update to the 3.2.7 bootloader needed?

[2016-02-15 16:43] ghost commented on #50
Same. I can lock the phone by hitting twice in the status bar, but I cannot wake it double-tapping the screen.

[2016-02-15 20:46] Kra1o5 commented on #50
Hi,

Will be fixed in 13.0-20160215 build.

Greetings

[2016-02-17 09:19] 1tft commented on #50
It's fixed. Thank you very much!
Issue can be closed.

[2016-02-17 09:22] #50 closed, assigned to nobody

[2016-02-17 16:06] ghost opened #52 "Hall sensor lockscreen feature"
Is currently supported the feature that wakes the screen when using the official cover? I mean, when the hall sensor detect a magnetic field from the magnet inside the cover while you are closing and opening it lo unlock the phone. It's a pretty useful feature that the official ROM from BQ has.

[2016-02-17 16:52] cmorlok commented on #52
Is this a question or a bug report? Hall sensor should work in CM12.1 and CM13.0.

[2016-02-17 16:55] cmorlok opened #53 "HDR doesn't work"
I have compared the logcats while taking HDR pictures in CM12.1 and CM13.0 (using GoogleCamera 2.5). It seems like the HDR scene mode isn't enabled at all. I will extend the camera wrapper to see more details.

[2016-02-17 16:56] cmorlok commented on #32
I have opened #53 for further HDR discussions

[2016-02-17 17:01] ghost commented on #52
If it's supposed to work then it's a bug report. When I previously had the official ROM from BQ I could lock and wake the screen by closing and opening the official cover, like the Nexus 5 does. I just could be wrong but as far as I know the cover has a magnet that is detected by the hall sensor in order to lock and wake the screen.
Thanks for the help and sorry if I'm posting this in a wrong plac

[2016-02-17 17:10] cmorlok commented on #52
This is the correct place for reporting bugs.

Which build of CM do you have installed?

[2016-02-17 17:12] ghost commented on #52
13.0-20160215-UNOFFICIAL-piccolo in my BQ M5

[2016-02-17 17:26] Kra1o5 commented on #52
Hi @PabloGPZ @cmorlok ,

Support is there:

https://github.com/piccolo-dev/android_kernel_bq_piccolo/blob/cm-13.0-test/arch/arm/configs/cyanogenmod_piccolo_defconfig#L1629

https://github.com/piccolo-dev/android_device_bq_piccolo/blob/cm-13.0-test/overlay/frameworks/base/core/res/res/values/config.xml#L120

But I cant test if this works or not because I dont have this case.

Greetings

[2016-02-17 17:29] cmorlok commented on #52
@ https://github.com/PabloGPZPabloGPZ https://github.com/PabloGPZ can
you send us a picture where the magnet is located in the case? I don't have
one either, but it should work with any other magnet as well.

[2016-02-17 17:54] ghost commented on #52
I've tried with another magnet from google's cardboard VR (they work fine with the app so I know the magnetic sensor is working) and it doesn't do anything, I've also tried to read the information from the magnetic sensor and when I put close the magnet and it reads it. The magnet from the cover is also attracting iron,so it's there. I don't know where's the problem.

The magnet is inside the red

[2016-02-18 22:46] cmorlok commented on #53
I really don't understand what's going wrong. This is what it looks like in CM13.0:

[code]

and this is what it should look like (from CM12.1):

[code]

The `set_parameters` function calls all the `QCameraParameters::set` functions in the log. The interesting one is `QCameraParameters::setSceneMode(const QCameraParameters& params)`. According to the reference (https://www.codeaurora.org/cgit/quic

[2016-02-18 23:08] cmorlok commented on #53
I missed one important thing: while CM12.1 is still using the 3.2.2/3.2.6 camera blobs, CM13.0 is updated to 3.2.7. I will have to compare again with stock 3.2.7 instead of CM12.1.

[2016-02-19 23:03] fermaxando opened #54 "Problems with Bluetooth"
When i will going to share my conexion from bluetooth by PAN Network (Wifi's zone section), the computer doesn't connect y was try with 3 computers with differents bluetooth.

[2016-02-22 20:39] cmorlok commented on #53
The critical logcat entry is here:

[code]

The blobs libmmcamera_hdr_lib.so and libmmcamera_hdr_gb_lib.so are not compatible with M. They would have to be shimmed, but I didn't find what exactly cause the error.

I have replaced those blobs by the ones from Wileyfox Storm (build and linked against M by Cyngn, see https://github.com/cmorlok/proprietary_vendor_bq/commit/70eb14fb5bfedfe867e154b962b9

[2016-02-22 20:42] Kra1o5 commented on #53
Hi @cmorlok ,

Thanks for the awesome work finding it! :)

I will check if we can use our camera blobs or not asap.

Greetings

[2016-02-22 20:54] cmorlok commented on #53
I tried to compare the L and the M blobs from Wileyfox, but I don't see any external reference which has changed. I also tried to shim L's VectorImpl.cpp (which is needed for camera blobs on some other devices), but that didn't help either.

[2016-02-22 20:59] cmorlok opened #55 "SIM not available on first boot after update"
Directly after an update (rebooting directly from TWRP), SIMs are sometimes not available. Everything is fine after rebooting.

[2016-02-22 21:01] Kra1o5 commented on #55
Really weird, maybe upstream issue?

For now I cant reproduce it, @eloimuns you did?

[2016-02-22 21:09] cmorlok commented on #55
It's not really reproduceable, I get it on about 1 of 10 updates. On the german forum one guy reported the issue as well after an OTA update. It might be a timing issue.

[2016-02-25 22:32] DerSaxxe opened #56 "Incorrect labeling of button backlight control CM-13.0"
To set auto-off button backlight to "never" (backlight always on) you have to set "35 s" (right edge of the slider). And if you set it to "never" (left edge of the slider) backlight will be on only 1 s.

[2016-02-28 12:45] Kra1o5 commented on #54
Hi,

Please specific version of CM.

Greetings

[2016-02-28 12:46] Kra1o5 commented on #52
Hi @PabloGPZ ,

Sorry for the delay.

@eloimuns , @cmorlok Can you test it?

Regards

[2016-02-28 12:48] Kra1o5 commented on #56
Hi @SIRSteiner ,

Yeah, because you set never but it set 1s.

Its a CM upstream issue not device specific.

Greetings

[2016-02-28 16:18] Kra1o5 commented on #53
Fixed in cm-13.0-20160228-UNOFFICIAL-piccolo .

[2016-02-28 16:18] #53 closed, assigned to nobody

[2016-02-28 22:22] piwats opened #57 "GPS not working"
Hello,

thanks for the updates :+1:

Unfortunately, the last update of cm-13 from February 28th made GPS non functional.

Nothing in dmesg.

logcat is full of this kind of Errors:

[code]

[2016-02-29 13:06] cmorlok commented on #57
I can see those entries in logcat as well, but GPS is working fine for me.

[2016-02-29 13:51] piwats commented on #57
Strange, had to disable and reenable the location services. Was asked by Google services for permission of their location services. Now I have all the signals back. Strange, but working.

[2016-02-29 13:51] #57 closed, assigned to nobody

[2016-03-05 15:53] piwats commented on #45
In recent builds double tap seems to work without any flaws. Thus I have to assume the problems with double tap were upstream related.

[2016-03-05 20:01] stucki opened #58 "Videos are played slower than normal"
When I'm playing a video through the speaker of the phone, the video is played slower than normal. A sequence of 1 minute takes 1:07 to play. You also here a clear difference because the tone pitch of the voices is much lower than normal.

However, when connect to my bluetooth headset and play the same sequence again, then the speed is normal, the problem is gone. It only happens when playing usin

[2016-03-05 20:02] stucki commented on #58
I should also add that this used to work fine until some weeks ago.

[2016-03-05 20:34] stucki commented on #58
Another user just reported that it works fine with a current version of cm-12.1. So it clearly seems to be an issue with cm-13.0.

[2016-03-06 13:53] Kra1o5 commented on #58
Hi @stucki ,

Im using X5 at the moment but @eloimuns can test it.

Greetings

[2016-03-06 21:08] bonanzabike opened #59 "Battery status and LED "freeze" after loading"
After loading the battery overnight and unplugging the cable next morning the status LED still remains shining green and the battery level remains at 100%, even if I use the phone for hours.
The monitoring of the battery level in the battery settings section stopped in the middle of the night, shortly after it reached the 100%.

Rebooting solved the problem, but another user told me he had this bu

[2016-03-06 21:11] bonanzabike commented on #59
oh, I forgot to tell that I was using cm-13.0-20160228 build from https://s.basketbuild.com/devs/eloimuns/bq/piccolo/

[2016-03-06 21:29] bonanzabike commented on #3
I had this issue on my Samsung Galaxy S4 Mini with CM13 Nightlys and I discovered that it did only work for newer, not yet installed, but downloaded versions.
So whenever there was a new update found, I could read the changelog by tapping and holding at the newest version, but after the update it didn't work anymore. When I wanted to open it by pressing the newest, installed version, it said "no c

[2016-03-08 08:24] bladimirsuareznuclear opened #60 "Alarm doesn't work when phone is off"
This function works well in CM 12.1. I have updated to CM 13, and it is strange that before gapps was installed, alarm with phone off, works perfectly. After that I installed gapps, and it is when alarm with the phone off doesn't work.

[2016-03-08 10:16] cmorlok commented on #60
You have to install gapps _before_ you boot the first time.

[2016-03-08 15:01] bladimirsuareznuclear commented on #60
I did it too. Doesnt work.

[2016-03-14 05:22] DerSaxxe opened #61 "Clock app is crashing at settings and alarm"
If you click to open settings in the clock app it crashs. Also while alarm is ringing it crashs.

[2016-03-14 07:49] Kra1o5 commented on #61
Hi @SIRSteiner ,

You try to wipe app data?

Greetings

[2016-03-14 08:38] DerSaxxe commented on #61
Inside Android clear data? Yes. But not all data in TWRP

[2016-03-14 09:09] DerSaxxe commented on #61
Did also a wipe cache but no changes. I have also a M5 with CM13 and the build from last week, there is no problem with clock

[2016-03-14 09:44] eloimuns commented on #61
It's a cyanogenmod problem

Will be repaired asap.

[2016-03-14 20:04] Kra1o5 commented on #61
Yes, @SIRSteiner you can use: https://play.google.com/store/apps/details?id=com.google.android.deskclock&hl=es

As workaround, we release a new build asap it get fixed.

Greetings

[2016-03-14 20:06] Kra1o5 commented on #60
@eloimuns Can you try it please?

[2016-03-14 21:43] DerSaxxe commented on #61
Thank you!

[2016-03-19 11:03] stucki opened #62 "Custom APN is ignored"
I'm trying to use the blau.de Tagesflat. This is a subscription which is activated by using a non-default APN.

After being online for a while, I notice that the APN was not used even though it was displayed like that in settings.

Can anyone confirm the behaviour? It is quite likely that the same problem occurs with other providers, too...

[2016-03-20 10:01] akamkomputer opened #63 "System freezes"
i recently updated from **cm-13.0-20160228** to **cm-13.0-20160313**.

Now i have random freezes, where only a forced restart (pressing the 3-buttons) of the phone helps.
I occurs most likely when switching when doing performance-intensive tasks ... switching and editing photos, browsing spotify, browsing, etc.

I'm still on firmware 3.2.2. – might this be a problem?
(cm-13.0-20160228 was just run

[2016-03-20 10:08] akamkomputer commented on #63
And for updating the firmware to 3.2.9:
Can i just comment-out the lines:

[code]

for not loosing my data, etc. (as i can't do a TWRP-Backup to my sdcard, because i formatted my sdcard to „internal“)
or will it break things?

Thanks!

:-) AK

[2016-03-20 11:17] Kra1o5 commented on #63
Hi @halloalexkern ,

With this you will relock bootloader.

I make some updates to kernel maybe it helps to this issue.

[2016-03-20 11:18] Kra1o5 commented on #62
Hi @stucki ,

Weird but can be the apn-conf file from cm.

[2016-03-20 11:21] Kra1o5 commented on #61
Seems to be fixed upstream: https://github.com/CyanogenMod/android_frameworks_support/commit/9ac291bad6edb745d68aab9baf0465c3323d8e4e & will be fixed in todays build.

[2016-03-20 11:22] Kra1o5 commented on #60
@eloimuns report is working fine in his case.

[2016-03-20 11:23] Kra1o5 commented on #59
Really weird @bonanzabike I will try to reproduce it.

[2016-03-20 11:24] Kra1o5 commented on #58
@stucki @eloimuns confirm it so I will find out the cause asap.

[2016-03-20 11:39] akamkomputer commented on #63
So i'd have to flash the complete 3.2.9-fireware-update ... and the start from scratch with unlocking and flashing to cm-13, right?
(i still emeber that last time, when i bricked my M5 permanetly with the 3.2.2. firmware-update :-( ... luckily i got a free replacement from BQ!)

But do you think i'd be necessary for your cm13 to update to 3.2.9? or should 3.2.2 also work?

:-) AK

[2016-03-20 11:41] Kra1o5 commented on #63
Hi @halloalexkern ,

I think you will be fine with 3.2.2 firmware so not need to change firmware.

[2016-03-20 11:45] 1tft commented on #51
Hello, want to tell some more information about the latest situation I explored. Maybe someone is also faced with this problem.

2 bq M5 phones

First phone: Firmware 3.2.8
CM13.0-20160306 installed, but updated from earlier CM13 versions (only with dalvik and cache wipe).

Sound recorder says "can't access SD card" (no crash anymore!), but all neccessary rights are given to this app. Also I delet

[2016-03-20 11:48] cristianss98 opened #64 "Problem with vibration CM13"
The vibration does not work in this last update, I use a lot because I do not like having the phone in sound.
Thank you. ;-)

[2016-03-20 11:50] Kra1o5 commented on #64
Hi @cristianss98 ,

Can you try changing the vibration intensity (Settings/Sounds) ?

[2016-03-20 11:51] Kra1o5 commented on #51
Hi @1tft ,

Same behavior for me.

One question,

Second SD card have the format of MM ?

[2016-03-20 12:03] cristianss98 commented on #64
Hi @Kra1o5
I tried to change the settings and also tried with an application to see if vibrated but nothing.

[2016-03-20 12:05] Kra1o5 commented on #64
Really weird, because @eloimuns try it & reports working fine.

Can you do a wipe cache/wipe dalvik cache in twrp?

[2016-03-20 12:17] cristianss98 commented on #64
I did wipe cache and Dalvik cache in TWRP and still does not work.
The only thing left is wipe data and reinstall the ROM

[2016-03-20 12:21] Kra1o5 commented on #64
Wait for todays build to try.

[2016-03-20 12:28] cristianss98 commented on #64
Ok,

Thank you very much ;-)

[2016-03-20 13:08] akamkomputer commented on #63
Thanks.

... about the freezes: would a dmesg help? or do you already have an idea what could cause it?

:-) AK

[2016-03-20 13:58] 1tft commented on #51
MM?
Both SD cards are used as external (portable photo media). One SD 8GB with Fat32, second one 128GB with exFat.

[2016-03-20 19:59] DerSaxxe commented on #61
While ringing there is now no crash but if you want to open settings clock crashs

[2016-03-20 20:00] Kra1o5 commented on #61
Yes, its in the changelog but is upstream bug.

[2016-03-20 20:51] DerSaxxe commented on #61
Here is the log maybe that helps more:

03-20 21:47:30.265 E/AndroidRuntime(6198): java.lang.RuntimeException: Unable to resume activity {com.android.deskclock/com.android.deskclock.SettingsActivity}: java.util.IllegalFormatConversionException: %d can't format java.lang.String arguments

[2016-03-20 21:48] Greatdroid opened #65 "CM13 camera hdr mode on, makes double photos"

[2016-03-20 22:13] Greatdroid opened #66 "cm13 apollo music player not working properly on car bluetooth"

[2016-03-20 22:15] Kra1o5 commented on #66
You refer to Eleven right?

[2016-03-20 22:17] Kra1o5 commented on #65
Yes, we are using hybrid blobs.

[2016-03-20 22:20] Greatdroid commented on #66
Sorry don't get it. What do you mean by eleven?

[2016-03-20 22:20] Greatdroid commented on #65
Ok thanks.

[2016-03-20 22:21] Kra1o5 commented on #66
CM not using Apollo from CM12.1+, now use Eleven.

[2016-03-20 22:25] Greatdroid commented on #66
Sorry didn't know they changed the name, but yes, I mean that one. :-)

[2016-03-20 22:36] papachiclas opened #67 "Audio on call by bluetooth in car radio"
I have had problems with the audio on the car radio while on call by bluethooth. Most of the time the sound is very bad, It is impossible to understand what people say

[2016-03-21 01:25] dkati commented on #48
so what was the solution on this :/ ?

[2016-03-21 06:12] piwats commented on #48
You first choose the mode on SIM1, then you can choose the mode on SIM2.

[2016-03-21 09:16] starvoid opened #68 "exchange kind account has gone"
I upgraded to cm-13.0-20160313 from 13.0-20160306. My configured exchange account has gone.

When I tried to add a new account, in the step to choose the kind of account, the interface doesn't show exchange type (it shows imap and pop3 options only)

Please, could you check it?

Thanks for great job.

[2016-03-21 11:35] eloimuns commented on #68
which gapps are you using?

[2016-03-21 14:09] starvoid commented on #68
open_gapps-arm-6.0-nano-20160113.zip.

Hi, the problem has vanish installing cm-13.0-20160320.

It's a little weird, but I have my exchange account working again.

From my side, this issue is closed. I leave it open just in case you want to check it, but, please, fell free to close it.

[2016-03-21 14:49] cmorlok commented on #65
Confirmed. Seems to be a Snap issues. Other cameras (tested with GoogleCamera and OpenCamera) save pictures only once.

[2016-03-21 14:54] cmorlok commented on #51
It's still an open upstream issue (see comments on http://review.cyanogenmod.org/#/c/133098/ ). Seems like it has very low priority, no one cares about it.

[2016-03-23 08:41] andresako opened #69 "logcat issues"
Hi, before all, thanks for that great Rom.

I'm a programing developer and I need to work a lot with logcat to debug my app's.
After installing cm-13.0-20160313 I had the clock issues, not a big problem,
I update to cm-13.0-20160320 and now my logcat is going crazy, I'll explain that:

First I have random errors with SQLite:

(3 / 5 minutes between)

My second error is geoposition related, after t

[2016-03-23 23:13] DerSaxxe commented on #61
I found in the source strings.xml a (plurals) string named "auto_silence_summary" with a variable "%s" but in other languages there is only a single string with "%d".

I did a comment at https://jira.cyanogenmod.org/browse/NIGHTLIES-2671
Maybe this is the problem?

[2016-03-24 11:42] Kra1o5 commented on #61
Hi @SIRSteiner ,

Yes, the fix is review in progress here: http://review.cyanogenmod.org/#/c/137803/

So probably get merged soon & will be in next build.

[2016-03-24 19:06] akamkomputer commented on #63
i'm pretty sure this issue is gone with 2016/03/2.
I haven't expected any more freezes.

Thanks!!

[2016-03-27 16:50] DerSaxxe commented on #61
Fixed with the latest build

[2016-03-27 16:50] #61 closed, assigned to nobody

[2016-03-28 17:52] DerSaxxe opened #70 "CM13 file manager doesn't show OTG-Devices"
Maybe a CM issue?

[2016-03-29 16:20] DerSaxxe commented on #63
Should you close this issue?

[2016-03-29 17:03] DerSaxxe commented on #60
Also tested and works fine. So maybe if nobody else have this problem and bladimirsuareznuclear also not with the latest build you should close this issue.

[2016-03-29 18:34] Kra1o5 commented on #63
Hi @SIRSteiner, yes we can reopen if needed.

[2016-03-29 18:34] #63 closed, assigned to nobody

[2016-03-29 18:36] Kra1o5 commented on #60
@bladimirsuareznuclear, you can report it back with latest build?

Greetings

[2016-03-29 18:37] Kra1o5 commented on #70
Pretty sure yes.

@eloimuns can test it you too?

[2016-03-29 19:04] eloimuns commented on #70
Seems to be a CM problem. I just tested with Xiaomi Redmi 1S and Xiaomi mi4 and the same result.

[2016-03-31 11:06] mikellinares opened #71 "Bluetooth mic volume too low"
Hi,
When the M5 (CM13 last update) is connected to a intercom using BT, the mic volume is too low. The person in the other side cannot hear me.
I have been making diferent tests with other mobile devices and same intercom. The problem occurs only with my two BQ M5 and this ROM. I can´t confirm if this error occurs with the stock ROM.
Thanks for supporting ;)

[2016-03-31 11:21] cristianss98 commented on #64
I solved the problem, reinstall the latest official firmware BQ and then I install CM13 and next day vibrated again normally.
PS: sorry for my mistranslations.

[2016-03-31 11:21] #64 closed, assigned to nobody

[2016-04-01 06:43] andresako opened #72 "Awesome consuming of ram cm13 (Screensaver)"
Since using the screen saver , the ram has skyrocketed.
I'm using the last comp of this rom, I think that's not normal
attached screenshot

Thanks for all :)

![photo_2016-04-01_08-39-40](https://cloud.githubusercontent.com/assets/9285655/14199561/c83fac54-f7e5-11e5-904d-2b3eab7da532.jpg)

[2016-04-01 10:08] cristianss98 commented on #72
could be a mistake, anyway if you get upset or consume everything that says you pobrar to uninstall it if you're root with Link2SD.

[2016-04-01 10:13] andresako commented on #72
Yeah,for now I've stopped using that and the ram usage seems to be normal again.
I mention only for creators to take this into account in later builds.

[2016-04-01 14:22] Kra1o5 commented on #71
Hi @mikelgaldakao ,

We will check it for next release :)

Greetings

[2016-04-01 14:23] Kra1o5 commented on #72
Hi @andresako ,

I will check it but probably upstream bug.

Greetings

[2016-04-04 17:08] ghost opened #73 "Touchscreen errors"
When in lockscreen, the phone wont respond properly, and when you finally unlock the phone, some lockscreen overlay appears and it wont disappear until you tap the screen, thus making it a little annoying
Thanks!

[2016-04-04 17:19] 1tft commented on #73
I also recognized this "overlay" in 2016/04/03 build. Sometimes I see a very little phone icon on the left buttom area, too. At afternoon I was faced with a total freeze of the phone during navigation with G-Maps (I had to press the power button over 10minutes to initiate a reboot). Than I downgraded to 2016/03/27.

[2016-04-04 17:27] ghost commented on #73
I'm installing xposed, I'll see  if it's still appearing

[2016-04-04 17:54] Kra1o5 commented on #73
Hi,

Is upstream issue not device specific and yeah is really annoying.

Greetings

[2016-04-04 21:24] ghost commented on #73
Seems like it auto fixed, i didnt see it anymore

[2016-04-04 22:06] piwats commented on #45
seems to be somehow fixed by upstream.

closing :)

[2016-04-04 22:06] #45 closed, assigned to nobody

[2016-04-06 18:17] stefanocostantini opened #74 "both SIMs switch to roaming when only one of them should"
I have Spanish (Tuenti) and UK SIMs as i travel between these two countries. When both SIMs are inserted, the Spanish SIM switches to 2G Roaming (it should be LTE on the Movistar network). As a result I lose data connection, because the SIM setting is for data roaming turned off. However, turning it on does not restore the data connection, as the phone insists on connecting on a 2G Movistar networ

[2016-04-08 22:11] stucki commented on #58
The issue still exists. Do you have any idea what could have caused it?

[2016-04-09 06:30] Kra1o5 commented on #58
Hi @stucki ,

Can you send me a logcat?

Thanks

[2016-04-12 09:48] sergiopoverony opened #75 "OpenGL ES 1 (GLES1) performance is bad"
Gles1 game more lags for example XASH3D  - maybe proprietary drivers adreno

[2016-04-12 09:55] stucki commented on #75
No idea what you're talking about. Please be more specific.

[2016-04-12 09:57] sergiopoverony commented on #75
I install old game. Game use only Gles1. Xash3D game name - this is HalfLife 1 launcher https://github.com/SDLash3D/xash3d. My old device mtk6579 PowerVR 540 - show fps 90!!! this is device 17-23fps. On CM13 - not start - close app after run.
I check all version  firmware - official 5.0 5.1 cm12 cm13

[2016-04-12 10:39] sergiopoverony commented on #75
This is more specific?

[2016-04-12 11:18] cmorlok commented on #75
Gles1 is fully working, verified using
https://play.google.com/store/apps/details?id=yz.opengl.es11

[2016-04-12 12:11] sergiopoverony commented on #75
Yep. Worked and low fps. This very simple test. In game use more faces and texture.

[2016-04-12 12:23] sergiopoverony commented on #75
My OLD device - this is minimal FPS  - max FPS over 75-80
![screenshot_2016-04-12-17-20-18](https://cloud.githubusercontent.com/assets/5286127/14459772/51918784-00d3-11e6-9765-a309ae6c19e4.jpg)

[2016-04-12 12:25] sergiopoverony commented on #75
This is NEW bq M5 this device
![screenshot_2016-04-12-17-15-30](https://cloud.githubusercontent.com/assets/5286127/14459793/79daab26-00d3-11e6-87f8-3e9d40cf5a26.jpg)

[2016-04-12 13:06] cmorlok commented on #75
It would be helpful if you'd tell us the name of your old device.

I just did some benchmarks. For OpenGL 2 and 3, we have the same
performance like any other phone with this chipset.

[2016-04-12 14:38] sergiopoverony commented on #75
All my old devices china tablet and phone. TabletPC - Pipo M8Pro RK3188 MALI MP4 (fps >50) and Phone - JayYou  G3S MTK5989T PowerVR 450(i dont know) fps >50/ My Wife use Samsung Galsaxy A3 (2015) FPS >55
I know Gles2 and  3 - Real good work. Gles1 - is bad working/ This Game use ./system/lib/libGLESv1_CM.so - maybe him bad work?  May be him MustDie under FHD screen resolution?

[2016-04-13 06:46] Mutilo opened #76 "NoData-SIM no signal when there is 2G or 2,5G and it is configured as 2G"
I have two SIM (Spain), one of Mundo-R with data, and other of Movistar without data:
- If I put the R SIM in slot 1, the Movistar not covered.
- If I do the reverse, I put the Movistar in slot 1, both are covered, but Movistar loses and not recovered.

As Movistar has no data I have to put the 2G (and R 3G or LTE), but when there are bad signs, it lost and not recovered, and does not receive call

[2016-04-13 07:10] cmorlok commented on #75
I will take a look. Maybe the so files do not fit together.

Can you please run some benchmarks in https://play.google.com/store/apps/details?id=yz.opengl.es11 (some tests where it shows the FPS) on one of your other phones? I need some reference values, but I haven't found any recent GLES1 benchmark.

[2016-04-13 07:17] cmorlok commented on #76
You don't have a choice. Only one SIM can be in 3G/LTE mode, the other one has to be in 2G mode.

Regarding the connection loss: I experience this as well. I had the same problem on stock, so I'm not sure if it's a software or a hardware issue. Interestingly, you can't get the connection back with manual network selection, even if the search finds the network.

[2016-04-13 09:57] Mutilo commented on #76
Indeed. One SIM in 3G/LTE mode, and the other one in 2G mode.

But when the SIM 2G loses the connection because there are bad/low/no coverage, no recovers it. There are many people who are using two SIM's on stock and doesn't have this issue.

I need to use two SIM, is there any way to fix this problem or I have flash another ROM?

[2016-04-13 10:12] cmorlok commented on #76
From time to time I flash the latest stock for some comparisons. I always had exactly the same bad behavior on stock with the SIM in 2G mode. And there are some posts where people are describing similar issues on stock, e.g. http://www.android-hilfe.de/thema/wie-ist-eure-empfangsqualitaet-beim-bq-m5.732693/.

[2016-04-13 10:39] Mutilo commented on #76
In this post (http://www.htcmania.com/showpost.php?p=22467455&postcount=912) they said it worked well, so I reported the bug

[2016-04-13 10:42] cmorlok commented on #76
Doesn't your linked post say that dual SIM is working with CM13?

[2016-04-13 14:32] sergiopoverony commented on #75
Oh. I check on all my devices. No different fps in test.

[2016-04-13 16:36] Mutilo commented on #76
`Buenas, si funciona el dual SIM en CM13, yo lo tengo y funciona perfectamente (mensajes, llamadas...)`

I understand that he would work correctly...

[2016-04-14 11:39] eloimuns commented on #75
Did you test it when device is plugged in? Maybe the problem is here.

[2016-04-14 12:03] eloimuns commented on #75
you can try while not charging ?

[2016-04-14 12:05] sergiopoverony commented on #75
I test all witchout usb connections, charging and etc - i write about it in up message ^

[2016-04-14 12:41] sergiopoverony commented on #75
##### Men. After change screen resolution (https://play.google.com/store/apps/details?id=com.nexter.miniscaler) I change Width to 540px and Height to 960. DPI change to 248. FPS in game - 40-60 ROFL.

Gles1 driver not work under FHD screen resolution? WTF (sorry)
 Crazy crutch

### This Big problem!

[2016-04-14 20:43] Kra1o5 commented on #75
Hi,

Can you try changing dpi in Settings/Screen & report the results?

I recommend to use standard dpi values.

Greetings

[2016-04-15 02:53] sergiopoverony commented on #75
Hi.
1. I change only DPI - no effct.
2. I change resolution - good work.
3. I change resolution and DPI - good work.

This is badwork GLES1 under hight screen resolution (default 1920*1080)

[2016-04-17 08:37] Kra1o5 commented on #58
Hi @stucki ,

I merged some new changes from CAF, so you can test it in next build.

[2016-04-17 08:40] Kra1o5 commented on #73
Fixed upstream: https://github.com/CyanogenMod/android_frameworks_base/commit/16a065df515225bf4da78df7ccea63ca860b2b20

Greetings

[2016-04-17 08:40] #73 closed, assigned to nobody

[2016-04-17 20:43] Mutilo commented on #76
Sorry. I think I was wrong. In fact, coverage is restored when it lose the signal.
The issue is that when I set "NOData-SIM" as 2G and there is little/poor coverage (e.g. in the "Data-SIM" shows G or E), NoData-SIM has no coverage (0%)
But, in the same place, if I set NoData-SIM as 3G, it has coverage to make and receive calls.

[2016-04-19 09:24] stucki commented on #58
Thanks. I just tried with the 2016-04-17 build, but the problem still occurs. 30 seconds of video play in 35 seconds on the loudspeaker, but in correct speed via bluetooth...

[2016-04-19 19:32] e-alfred opened #77 "CM13 L2TP/IPSec PSK not working with Draytek Router"
Running the latest CM 13.0 release, a VPN connection with L2TP/IPSec PSK does not work. The same VPN runs fine with the older CM 12.1 release. Here is the log I got so far:

[code]

[2016-04-21 19:18] sergiopoverony commented on #75
helloooo

[2016-04-21 19:25] Kra1o5 commented on #75
Hi,

We are using latest adreno gpu blobs from MM.

So at the moment we cant do much more.

[2016-04-21 19:28] sergiopoverony commented on #75
sad and melancholy

[2016-04-21 19:30] Kra1o5 commented on #75
Dont worry we will see if we can improve it.

[2016-04-22 05:04] cmorlok commented on #75
Is there any Gles1 benchmark available which we can use for testing?

[2016-04-22 06:55] sergiopoverony commented on #75
Yes, Of course. We make standalone apk file for test. I drop referal link here for download and test

[2016-04-22 11:20] GautierLePire opened #78 "SystemUI crashes in UI Tuner (aka Edit Tiles)"
Hey,

I flashed last update (17th April), GApps (Pico, 21st April) and XPosed (v82, no GravityBox)
When I click "Edit Tiles" > "(+)" > Scroll the list, SystemUI crashes
![screenshot_20160422-131250 1](https://cloud.githubusercontent.com/assets/6824634/14740057/41387fda-088c-11e6-95be-b244b809a315.png)

The bug wasn't present in v20160320

Thank you in advance

[2016-04-22 12:55] GautierLePire commented on #78
Bug solved by factory reset.

(Probably caused by restoring data from old version)

Sorry for the inconvenience.

EDIT:

Did nothing, crashes again

No need to scroll to make it crash, simply press (+)

EDIT2:

The bug is present on v10/4, but less frequent.
(Only crashes when deleting tiles, but it still deletes so not a problem)

[2016-04-22 16:55] ixti commented on #78
Having same issue. Fails for me every time I scroll at some point (after exact element).

![screencast](https://cloud.githubusercontent.com/assets/94782/14748731/b9508858-08bb-11e6-8a3d-c3918d16f089.gif)

Constantly fails for me after "Invert colors" element

[2016-04-22 17:04] GautierLePire commented on #78
The problematic element might be the next one, "Lock Screen" in stock version
(icon load fails?)

[2016-04-23 08:53] Kra1o5 commented on #78
Yes, is upstream issue.

It will be fixed in next build.

Greetings

[2016-04-23 08:54] Kra1o5 commented on #76
We need to check this, thanks for the report.

[2016-04-23 08:56] Kra1o5 commented on #77
Thanks for the log, I will check that asap but seems is a SELinux denial, can you try with SELinux in permissive?

[2016-04-23 08:59] cmorlok commented on #76
Can you ask bq's support team if they know this issue? On my phone, I see this on all ROMs (stock, CM12.1, CM13). It seems to be either a hardware issue, or there is a problem with the blobs.

[2016-04-23 09:00] Kra1o5 commented on #74
Yes, probably CM get the feature back soon.

Greetings

[2016-04-23 11:45] Mutilo commented on #76
As I use CM13, bq's support can't help me.
This only happens when I set the NoData-SIM as GSM/2G, coverage's bar is worse or null than if I set as 3G/LTE in the same place

[2016-04-23 12:49] ixti commented on #78
Awesome! @Kra1o5 thanks!

[2016-04-23 13:10] cmorlok commented on #76
Sorry, I replied to @Kra1o5. Can you look if this is a known issue?

@Mutilo: of course the coverage is better when you set the SIM to LTE. Then the phone decides depending on the signal strength whether it connects to 4G, 3G or 2G. When set to 2G it can't connect to 3G or 4G.

[2016-04-23 16:57] Mutilo commented on #76
And could set a ROM's configuration to set both SIM to 3G and set only one to "Mobile data"

[2016-04-23 17:18] cmorlok commented on #76
No, it's a hardware restriction.

[2016-04-23 17:20] Kra1o5 commented on #76
Yes, hardware limitation.
One of the slot need to be in 2G only.

[2016-04-24 20:17] Mutilo opened #79 "Can't record calls"
Hi.

Stock ROM can record calls with any app. Why CM13 can't record?

Is there any way or app to automatic record?

[2016-04-24 20:18] Kra1o5 commented on #79
Hi,

You can make it from dialer in actual call.

If you are in whitelist country.

[2016-04-24 20:20] Mutilo commented on #79
But to automatically record?

[2016-04-24 20:24] Kra1o5 commented on #79
Probably not.

[2016-04-24 20:27] Mutilo commented on #79
And could add a patch to the ROM?

[2016-04-24 20:31] Kra1o5 commented on #79
We want to have the ROM as close as original source.

[2016-04-24 20:56] Mutilo commented on #79
Ok. Thank you

[2016-04-25 11:13] e-alfred commented on #77
No, it still doesn't work. I set "setenforce 0" in a terminal directly on the phone with root rights, "SELinux-status" says "moderate", but the connection still does not work.

[2016-04-29 20:09] cmorlok commented on #76
It think we have a general issue with the connection quality. At the moment my first SIM is on roaming. The second SIM is a local one. I don't get any signal on both SIMs. Even a manual network search doesn't return any result. My old Moto G2 has full signal on both SIMs.

[2016-04-29 20:15] Kra1o5 commented on #76
Hi,

Well, we are using LP firmware, blobs & hybrid kernel.

So when official Marshmallow update comes out.

We will fix the big part of actual issues.

Greetings

[2016-04-30 18:05] ixti commented on #78
After upgrade to 20160424 all works perfectly fine! Thanks!

[2016-05-01 12:58] ghost opened #80 "Battery"
Since the first release of this rom, there has been a major issue for me, the battery flies, it drains very quickly, is there any solution to this? Will it correct over time? Thanks

[2016-05-01 16:25] sergiopoverony commented on #75
HI all. we make special for you Uplink HalfLIfe apk https://goo.gl/QyuuhP (~40mb)
On all devices FPS - 60-80
Aquaris M5 -25-30
Welcome for test and  great fix for your
You can play NewGame or Hazard Course
Sorry my English i from Russia

[2016-05-02 06:47] eloimuns commented on #78
Perfect,

We will close this issue

[2016-05-02 06:47] #78 closed, assigned to nobody

[2016-05-03 07:34] sergiopoverony commented on #75
What news?)

[2016-05-03 07:39] e-alfred commented on #77
I tried the last releases and with none of them it worked. The router is definitely not an issue, because other Android phones with different (stock) versions from 4.2-5.1 work flawlessly.

[2016-05-03 07:46] cmorlok commented on #77
If I remember correctly Google (or CM?) replaced the VPN stack in M. It might be that your VPN is no longer supported and you'll have to switch to a third-party app. I have similar problems with my own router and OpenVPN. Could you send us a copy of your VPN config (of course without any secrets included)?

[2016-05-03 08:10] e-alfred commented on #77
Well, L2TP/IPSEC PSK is still there in the VPN settings, the options are still there as well. I also tried the Draytek SSL VPN app and it does not work either on CM13.

Here is the upstream bug, not fixed by Google after almost half a year:

https://code.google.com/p/android/issues/detail?id=196939

[2016-05-03 20:49] Kra1o5 commented on #75
Sorry, Im busy at the moment so not checked yet.

Greetings

[2016-05-04 12:25] insestito commented on #75
on xda you have an post for improve a lot all graphics of all android devices

[2016-05-04 12:29] sergiopoverony commented on #75
We test on more devices. After it i write message here. If you want - you can made post on XDA.

[2016-05-04 13:16] insestito commented on #75
en xda hay un post dedicado a un "mod" para mejorar los drivers de los graficos o algo asi

[2016-05-04 19:07] stefanocostantini commented on #76
I have to say that this seems to be getting worse. It wasn't an issue on earlier builds but now I'm struggling to get any coverage unless it's very strong. Any suggestions?

[2016-05-04 19:24] Kra1o5 commented on #76
Sorry, Im using X5 at the moment with 3G.

I will test it asap but not changes from our side so maybe upstream...

Greetings

[2016-05-04 19:51] stefanocostantini commented on #76
Yes, fingers crossed!

[2016-05-05 10:58] sergiopoverony commented on #75
I dont understand you english. i use google translate/ give me link on XDA tree )

[2016-05-09 05:18] DerSaxxe commented on #56
This seems to be fixed.

[2016-05-09 05:18] #56 closed, assigned to nobody

[2016-05-10 11:08] andresako opened #83 "No weather source selected Cclock widget"
Since last update (Monday 9), my cclock widget doesn't find a weather source.
Previously, I haven´t any weather program and work perfectly.

I try to install "weather underground" cuz its compatible with CM13, and still without find a weather source :(

![image](https://cloud.githubusercontent.com/assets/9285655/15144526/355ec07a-16b0-11e6-8279-f285ad3f7e3b.png)
![image](https://cloud.githubuserco

[2016-05-10 11:59] stucki commented on #83
This is not a bug. Just install the Yahoo weather provider:
https://play.google.com/store/apps/details?id=org.cyanogenmod.yahooweatherprovider

[2016-05-10 11:59] #83 closed, assigned to nobody

[2016-05-18 11:08] stucki commented on #3
This works now.

[2016-05-18 11:08] #3 closed, assigned to nobody

[2016-05-24 07:32] CarreyCC opened #84 "Camera problem"
When opening the camera from the lock screen, to put it in landscape mode, the image is displaced and only the top part is visible.
Hopefully soon be resolved because continually use this option.
Thank you and congratulations for your work

[2016-05-25 12:00] danny9484 opened #85 "CM13 wrong autoupdate notification"
I have set the check for update feature in the settings app to every day and it gives me a notification that a new update is available even though there isn't. If I go to the settings and check for updates manually it tells that none are available but on the notification I can press download and it install the same version again.

[2016-05-26 08:06] stucki commented on #85
I can confirm this. Happens to me every day :)

[2016-05-30 09:52] sergiopoverony commented on #75
HELLO MEN AGAIN. Sorry caps )))
Now after official update (in official FW - android 6) Gles1 work is FINE.
Next Question - how long wait for CM13 this fixes?

[2016-05-30 09:55] eloimuns commented on #75
Yesterday build have this fixes but have a data issue..

 wait for today build ;)

[2016-05-30 09:56] sergiopoverony commented on #75
Good news. Thn you

[2016-05-30 21:41] stucki commented on #2
This issue was moved to bq-dev/android_device_bq_piccolo#2

[2016-05-30 21:42] stucki commented on #3
This issue was moved to bq-dev/android_device_bq_piccolo#3

[2016-05-30 21:42] stucki commented on #4
This issue was moved to bq-dev/android_device_bq_piccolo#4

[2016-05-30 21:46] stucki commented on #6
This issue was moved to bq-dev/android_device_bq_piccolo#6

[2016-05-30 21:47] stucki commented on #7
This issue was moved to bq-dev/android_device_bq_piccolo#7

[2016-05-30 21:47] stucki commented on #8
This issue was moved to bq-dev/android_device_bq_piccolo#8

[2016-05-30 21:47] #8 closed, assigned to nobody

[2016-05-30 21:49] stucki commented on #10
This issue was moved to bq-dev/android_device_bq_piccolo#10

[2016-05-30 21:51] stucki commented on #12
This issue was moved to bq-dev/android_device_bq_piccolo#12

[2016-05-30 21:52] stucki commented on #13
This issue was moved to bq-dev/android_device_bq_piccolo#13

[2016-05-30 21:52] stucki commented on #14
This issue was moved to bq-dev/android_device_bq_piccolo#14

[2016-05-30 21:52] stucki commented on #15
This issue was moved to bq-dev/android_device_bq_piccolo#15

[2016-05-30 21:53] stucki commented on #16
This issue was moved to bq-dev/android_device_bq_piccolo#16

[2016-05-30 21:53] stucki commented on #17
This issue was moved to bq-dev/android_device_bq_piccolo#17

[2016-05-30 21:53] #17 closed, assigned to nobody

[2016-05-30 21:53] stucki commented on #18
This issue was moved to bq-dev/android_device_bq_piccolo#18

[2016-05-30 21:54] stucki commented on #19
This issue was moved to bq-dev/android_device_bq_piccolo#19

[2016-05-30 21:55] stucki commented on #20
This issue was moved to bq-dev/android_device_bq_piccolo#20

[2016-05-30 21:55] stucki commented on #21
This issue was moved to bq-dev/android_device_bq_piccolo#21

[2016-05-30 21:55] stucki commented on #22
This issue was moved to bq-dev/android_device_bq_piccolo#22

[2016-05-30 21:56] stucki commented on #23
This issue was moved to bq-dev/android_device_bq_piccolo#23

[2016-05-30 21:56] stucki commented on #24
This issue was moved to bq-dev/android_device_bq_piccolo#24

[2016-05-30 21:56] #24 closed, assigned to nobody

[2016-05-30 21:57] stucki commented on #25
This issue was moved to bq-dev/android_device_bq_piccolo#25

[2016-05-30 21:57] stucki commented on #26
This issue was moved to bq-dev/android_device_bq_piccolo#26

[2016-05-30 21:57] #26 closed, assigned to nobody

[2016-05-30 21:57] stucki commented on #27
This issue was moved to bq-dev/android_device_bq_piccolo#27

[2016-05-30 21:58] stucki commented on #28
This issue was moved to bq-dev/android_device_bq_piccolo#28

[2016-05-30 21:58] stucki commented on #29
This issue was moved to bq-dev/android_device_bq_piccolo#29

[2016-05-30 21:59] stucki commented on #30
This issue was moved to bq-dev/android_device_bq_piccolo#30

[2016-05-30 21:59] stucki commented on #31
This issue was moved to bq-dev/android_device_bq_piccolo#31

[2016-05-30 22:00] stucki commented on #32
This issue was moved to bq-dev/android_device_bq_piccolo#32

[2016-05-30 22:00] #32 closed, assigned to nobody

[2016-05-30 22:31] stucki commented on #34
This issue was moved to bq-dev/android_device_bq_piccolo#34

[2016-05-30 22:32] stucki commented on #35
This issue was moved to bq-dev/android_device_bq_piccolo#35

[2016-05-30 22:32] #35 closed, assigned to nobody

[2016-05-30 22:32] stucki commented on #36
This issue was moved to bq-dev/android_device_bq_piccolo#36

[2016-05-30 22:33] stucki commented on #37
This issue was moved to bq-dev/android_device_bq_piccolo#37

[2016-05-30 22:33] stucki commented on #38
This issue was moved to bq-dev/android_device_bq_piccolo#38

[2016-05-30 22:33] stucki commented on #39
This issue was moved to bq-dev/android_device_bq_piccolo#39

[2016-05-30 22:33] #39 closed, assigned to nobody

[2016-05-30 22:34] stucki commented on #40
This issue was moved to bq-dev/android_device_bq_piccolo#40

[2016-05-30 22:34] #40 closed, assigned to nobody

[2016-05-30 22:34] stucki commented on #42
This issue was moved to bq-dev/android_device_bq_piccolo#42

[2016-05-30 22:34] #42 closed, assigned to nobody

[2016-05-30 22:35] stucki commented on #43
This issue was moved to bq-dev/android_device_bq_piccolo#43

[2016-05-30 22:35] #43 closed, assigned to nobody

[2016-05-30 22:35] stucki commented on #44
This issue was moved to bq-dev/android_device_bq_piccolo#44

[2016-05-30 22:35] #44 closed, assigned to nobody

[2016-05-30 22:36] stucki commented on #45
This issue was moved to bq-dev/android_device_bq_piccolo#45

[2016-05-30 22:36] stucki commented on #46
This issue was moved to bq-dev/android_device_bq_piccolo#46

[2016-05-30 22:36] stucki commented on #47
This issue was moved to bq-dev/android_device_bq_piccolo#47

[2016-05-30 22:37] stucki commented on #48
This issue was moved to bq-dev/android_device_bq_piccolo#48

[2016-05-30 22:38] stucki commented on #49
This issue was moved to bq-dev/android_device_bq_piccolo#49

[2016-05-30 22:38] stucki commented on #50
This issue was moved to bq-dev/android_device_bq_piccolo#50

[2016-05-30 22:39] stucki commented on #51
This issue was moved to bq-dev/android_device_bq_piccolo#51

[2016-05-30 22:39] #51 closed, assigned to nobody

[2016-05-30 22:39] stucki commented on #52
This issue was moved to bq-dev/android_device_bq_piccolo#52

[2016-05-30 22:39] #52 closed, assigned to nobody

[2016-05-30 22:39] stucki commented on #53
This issue was moved to bq-dev/android_device_bq_piccolo#53

[2016-05-30 22:39] stucki commented on #54
This issue was moved to bq-dev/android_device_bq_piccolo#54

[2016-05-30 22:39] #54 closed, assigned to nobody

[2016-05-30 22:39] stucki commented on #55
This issue was moved to bq-dev/android_device_bq_piccolo#55

[2016-05-30 22:39] #55 closed, assigned to nobody

[2016-05-30 22:39] stucki commented on #56
This issue was moved to bq-dev/android_device_bq_piccolo#56

[2016-05-30 22:39] stucki commented on #57
This issue was moved to bq-dev/android_device_bq_piccolo#57

[2016-05-30 22:44] stucki commented on #59
This issue was moved to bq-dev/android_device_bq_piccolo#59

[2016-05-30 22:44] #59 closed, assigned to nobody

[2016-05-30 22:44] stucki commented on #60
This issue was moved to bq-dev/android_device_bq_piccolo#60

[2016-05-30 22:44] #60 closed, assigned to nobody

[2016-05-30 22:44] stucki commented on #61
This issue was moved to bq-dev/android_device_bq_piccolo#61

[2016-05-30 22:44] stucki commented on #62
This issue was moved to bq-dev/android_device_bq_piccolo#62

[2016-05-30 22:44] #62 closed, assigned to nobody

[2016-05-30 22:44] stucki commented on #63
This issue was moved to bq-dev/android_device_bq_piccolo#63

[2016-05-30 22:44] stucki commented on #64
This issue was moved to bq-dev/android_device_bq_piccolo#64

[2016-05-30 22:45] stucki commented on #65
This issue was moved to bq-dev/android_device_bq_piccolo#65

[2016-05-30 22:45] #65 closed, assigned to nobody

[2016-05-30 22:45] stucki commented on #66
This issue was moved to bq-dev/android_device_bq_piccolo#66

[2016-05-30 22:45] #66 closed, assigned to nobody

[2016-05-30 22:45] stucki commented on #67
This issue was moved to bq-dev/android_device_bq_piccolo#67

[2016-05-30 22:45] #67 closed, assigned to nobody

[2016-05-30 22:48] stucki commented on #69
This issue was moved to bq-dev/android_device_bq_piccolo#69

[2016-05-30 22:48] #69 closed, assigned to nobody

[2016-05-30 22:49] stucki commented on #70
This issue was moved to bq-dev/android_device_bq_piccolo#70

[2016-05-30 22:49] #70 closed, assigned to nobody

[2016-05-30 22:49] stucki commented on #71
This issue was moved to bq-dev/android_device_bq_piccolo#71

[2016-05-30 22:49] #71 closed, assigned to nobody

[2016-05-30 22:49] stucki commented on #72
This issue was moved to bq-dev/android_device_bq_piccolo#72

[2016-05-30 22:49] #72 closed, assigned to nobody

[2016-05-30 22:50] stucki commented on #73
This issue was moved to bq-dev/android_device_bq_piccolo#73

[2016-05-30 22:50] stucki commented on #74
This issue was moved to bq-dev/android_device_bq_piccolo#74

[2016-05-30 22:50] #74 closed, assigned to nobody

[2016-05-30 22:51] stucki commented on #75
This issue was moved to bq-dev/android_device_bq_piccolo#75

[2016-05-30 22:51] #75 closed, assigned to nobody

[2016-05-30 23:10] #58 closed, assigned to nobody

[2016-05-30 23:11] #68 closed, assigned to nobody

[2016-05-31 06:13] stucki commented on #76
This issue was moved to bq-dev/android_device_bq_piccolo#76

[2016-05-31 06:13] #76 closed, assigned to nobody

[2016-05-31 06:14] stucki commented on #77
This issue was moved to bq-dev/android_device_bq_piccolo#78

[2016-05-31 06:14] #77 closed, assigned to nobody

[2016-05-31 06:14] stucki commented on #78
This issue was moved to bq-dev/android_device_bq_piccolo#79

[2016-05-31 06:15] stucki commented on #79
This issue was moved to bq-dev/android_device_bq_piccolo#80

[2016-05-31 06:15] #79 closed, assigned to nobody

[2016-05-31 06:15] stucki commented on #80
This issue was moved to bq-dev/android_device_bq_piccolo#81

[2016-05-31 06:15] #80 closed, assigned to nobody

[2016-05-31 06:15] stucki commented on #83
This issue was moved to bq-dev/android_device_bq_piccolo#84

[2016-05-31 06:15] stucki commented on #84
This issue was moved to bq-dev/android_device_bq_piccolo#85

[2016-05-31 06:15] #84 closed, assigned to nobody

[2016-05-31 06:18] stucki commented on #85
This issue was moved to bq-dev/android_device_bq_piccolo#86

[2016-05-31 06:18] #85 closed, assigned to nobody

[2016-05-31 06:19] stucki commented on #1
This issue was moved to bq-dev/android_device_bq_piccolo#87

[2016-05-31 06:19] #1 closed, assigned to nobody

[2016-05-31 06:21] stucki opened #86 "Issue reporting - read this!!"
All issues have been migrated to a new project. Please visit https://github.com/bq-dev/android_device_bq_piccolo/issues to report new issues.

[2016-06-09 14:27] sergiopoverony opened #87 "Where to check for updates now?"
Where to check for updates now?  Share a link to

[2016-06-09 20:43] Kra1o5 commented on #87
Here: https://github.com/bq-dev/android_device_bq_piccolo/wiki/CM13.0-Changelog

[2016-06-09 20:43] #87 closed, assigned to nobody